
.card-description .desc-text {
  height:130px;
  overflow:hidden;

}
.list-desc {
   font-size: 14px; 
}
.post-image-caption {
  margin-bottom: 20px;
  font-size:smaller;
  background:#FFF7ED;
}

.blog-post  .imgcaption {
  font-size:smaller;
  font-style: italic;
  background:#FFF7ED;
  padding: 5px 10px;
  margin-bottom: 10px;
}

.image {
 padding-bottom:15px; 
}


.post-footnote {
    border-radius: 15px;
    background: #FFF7ED;
    padding: 20px;
    margin: 20px 0;
    color: #361500;
}


