<div id="carousel-hestia-generic" class="carousel slide" data-ride="carousel" >
  <div class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="item active">
	<div class="page-header">
	  <div class="container">
	    <div class="row hestia-big-title-content">
	      <div class="big-title-slider-content text-center col-sm-8 col-sm-offset-2 ">
       	      </div>
            </div>
	  </div>
	  <div class="header-filter" style="background-image: url(/wp/uploads/2019/03/Home_hero.jpg)"></div>
        </div>
      </div>
    </div>
  </div>
</div>
