<footer class="footer footer-black footer-big">
  <div class="container">
    <div class="content">
      <div class="row">
	<div class="col-md-4"><div id="custom_html-4" class="widget_text widget widget_custom_html"><h5>MOCA Spike 150</h5><div class="textwidget custom-html-widget"><div class="tagline">
	<strong>Running Forward With Our Stories</strong>
      </div>
      <div class="footer-box">
        <a href="https://www.mocanyc.org">
	  <img src="https://user-images.githubusercontent.com/46349226/53992814-c81fb180-40fb-11e9-82af-4f690eb1d966.jpg" width="70">
        </a>
      </div>
      <div class="footer-box">
	<div class="companyname">Museum of Chinese in America</div>
	<div class="address">215 Centre Street New York, NY 10013</div>
	<div class="tel">855-955-6622</div> 
      </div>
    </div>
  </div>
</div>
<div class="col-md-4">
  <div id="custom_html-3" class="widget_text widget widget_custom_html">
    <div class="textwidget custom-html-widget">
       2019 marks the 150th anniversary of the completion of the Transcontinental Railroad. The “MOCA Spike 150 - Running Forward with Our Stories!” initiative will honor the thousands of Chinese workers responsible for this great milestone in American History as well as explore the Chinese diaspora throughout America.
    </div>
  </div>
</div>
</div>
</div>
<hr/>
<div class="hestia-bottom-footer-content"><ul id="menu-primary-menu-1" class="footer-menu pull-left"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-8 current_page_item menu-item-73"><a href="/" aria-current="page">Home</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-84"><a href="/about-moca/">About</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-124"><a href="/spike-relay/">Spike Relay</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-116"><a href="/tcs-new-york-city-marathon/">Support</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-107"><a href="/events/list/?tribe_paged=1&#038;tribe_event_display=list">Events</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-14"><a href="/blog/">Blog</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-88"><a href="/donate/">Donate</a></li>
</ul>					<div class="copyright pull-right">
				Hestia | Developed by <a href="https://themeisle.com" rel="nofollow">ThemeIsle</a>			</div>
			</div>			</div>
					</footer>
				</div>
	</div>
	<ul class="obfx-sharing
	obfx-sharing-left 	">
					<li class="">
				<a class = "facebook"
					 href="https://www.facebook.com/sharer.php?u=https://www.mocaspike150.org/">
					<i class="socicon-facebook"></i>
									</a>
			</li>
					<li class="">
				<a class = "twitter"
					 href="https://twitter.com/intent/tweet?url=https://www.mocaspike150.org/&#038;text=Home&#038;hashtags=">
					<i class="socicon-twitter"></i>
									</a>
			</li>
			</ul>
