<footer class="footer footer-black footer-big">
						<div class="container">
								
		<div class="content">
			<div class="row">
				<div class="col-md-4"><div id="custom_html-4" class="widget_text widget widget_custom_html"><div class="textwidget custom-html-widget"><a href="./"><img src="https://user-images.githubusercontent.com/46349226/54322306-1553c580-45cb-11e9-939e-140249d0c0b3.png"></a></div></div></div><div class="col-md-4"><div id="custom_html-3" class="widget_text widget widget_custom_html"><div class="textwidget custom-html-widget"><div class="row">
	<div class="col-md-12">
				
		<div class="wp-block-columns">
			
				<div style="float:left; padding-right:15px"><a href="https://www.mocanyc.org"><img src="https://user-images.githubusercontent.com/46349226/53992814-c81fb180-40fb-11e9-82af-4f690eb1d966.jpg" width="80"></a></div>
			<div class="moca">
					<p class="companyname">Museum of Chinese in America</p>
	<p class="address">215 Centre Street New York, NY 10013</p>
				<p class="tel"><a href="tel:855-955-6622" style="color:#562b00;">855-955-6622</a></p> 
			</div>
		</div>
	</div>
	</div>
</div></div></div><div class="col-md-4"><div id="custom_html-5" class="widget_text widget widget_custom_html"><div class="textwidget custom-html-widget">2019 marks the 150th anniversary of the completion of the Transcontinental Railroad. The “MOCA Spike 150 - Running Forward with Our Stories!” initiative will honor the thousands of Chinese workers responsible for this great milestone in American History as well as explore the Chinese diaspora throughout America.</div></div></div>			</div>
		</div>
		<hr/>
										<div class="hestia-bottom-footer-content"><ul id="menu-primary-menu-1" class="footer-menu pull-left"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-8 current_page_item menu-item-73"><a href="/" aria-current="page">Home</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-84"><a href="/about-moca/">About</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-124"><a href="/wp/spike-relay">Spike Relay</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-72"><a href="/tcs-new-york-city-marathon/">TCS NYC Marathon</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-116"><a href="/tcs-new-york-city-marathon/">Support</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-107"><a href="/events/list/?tribe_paged=1&#038;tribe_event_display=list">Events</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-14"><a href="/blog/">Blog</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-88"><a href="/donate/">Donate</a></li>
</ul>					
</div>			
</div>
</footer>
