.body-wrapper {
 /* margin-top: 110px;*/
  padding-top: 0;
}

body{
  color:$body-text-color;
}

.page-content h1 {
  font-family: Verlag-Bold;
}

.page-content strong {
  font-family: EdmundsburySansRegular;
}

/**
 * Blockquotes
 */
blockquote {
  color: $body-text-color;
  border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit-10;
  @include relative-font-size(1);
  letter-spacing: -1px;
  font-style: italic;
  margin: 40px 0;

  > :last-child {
    margin-bottom: 0;
  }
}
