.body-wrapper {
  margin-top: 100px;
  padding-top: 0;
}

body{
  color:$body-text-color;
}

.page-content h1 {
  font-family: Verlag-Bold;
}

.page-content strong {
  font-family: EdmundsburySansRegular;
}
