body{
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.page-content h1 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.page-content strong {
   font-family: Verdana, Arial, Helvetica, sans-serif;
}
