$primary-dark:      #562B00 !default;
$primary-light:     #FFF6EB !default;
$primary-gold:      #FFA10A !default;
$primary-blue:      #75BAE0 !default;
$primary-navy:      #000B43 !default;
$primary-ivory:     #FFF7ED !default;
$body-text-color:    #000b43 !default;
