@font-face {
    font-family: 'mocaspike';
    src: url('/assets/fonts/EdmundsburySansRegular-Regular.woff2') format('woff2'),
        url('/assets/fonts/EdmundsburySansRegular-Regular.woff') format('woff'),
        url('/assets/fonts/EdmundsburySansRegular-Regular.svg#EdmundsburySansRegular-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
