$footer-background: $primary-gold;
$footer-text-color: $primary-navy;
$footer-text-font: Verlag-Light;
.site-footer {
  font-family: $footer-text-font;
  background: $footer-background;
  border-top: none;
}
.footer-col-wrapper {
  color: $footer-text-color;
}

// mobile view adjustment
.one-half {
  width: -webkit-calc(50% - (#{$spacing-unit} / 2));
  width:         calc(50% - (#{$spacing-unit} / 2));
    @media only screen 
    and (min-device-width: 320px) 
    and (max-device-width: 600px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: portrait) {
       width:         calc(100% - (#{$spacing-unit} / 2));
  }

    @media screen and (max-width: 992px) {
    body {
       width:         calc(100% - (#{$spacing-unit} / 2));
     }
  }
}

.social-media-list {
    margin: 0;
}

.social-media-list li a {
  border: 0;
  padding: 0;
  img {
    height: 55px;
  }
}

.footer-title {
    margin-bottom: 10px;
    font-weight: 600;
}

address {
  ul {
    margin-left: 0;
  }
  li {
    list-style: none;
  }
}

  .site-footer {
    /*font-family: verlag-book;*/
  }
  .p-name{
    font-family: verlag-bold;
  }
  .footer-box {
     float: left;
     padding-right: 10px;
  }
  .companyname {
    font-family: verlag-bold;
  }
  .contact_us_link {
    font-family: verlag-book;
  }
  .footer-heading {
    margin-bottom: 5px;
  }
