$footer-background: $primary-gold;
$footer-text-color: $primary-dark;
$footer-text-font: EdmundsburySansRegular;
.site-footer {
  font-family: $footer-text-font;
  background: $footer-background;
  border-top: none;
}
.footer-col-wrapper {
  color: $footer-text-color;
}

// mobile view adjustment
.one-half {
  width: -webkit-calc(50% - (#{$spacing-unit} / 2));
  width:         calc(50% - (#{$spacing-unit} / 2));
    @media only screen 
    and (min-device-width: 320px) 
    and (max-device-width: 480px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: portrait) {
       width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

.social-media-list {
    margin: 0;
}
.social-media-list li a {
  border: 1px solid $primary-blue;
}

.footer-title {
    margin-bottom: 10px;
    font-weight: 600;
}

