$header-background: #FFFFFF;
$header-text-color: $primary-blue;
$page-link-color: $primary-blue;

.site-header {
  border-top: none;
  border-bottom: none;
  background: $header-background;
  padding: 10px;
}

.site-title { 
  color: $primary-dark;
}

.site-header .wrapper {
  max-width: 100%;
  padding-left: 0;
}

.site-nav {
  .page-link {
    color: $page-link-color;
  }
} 
