$header-background: #FFFFFF;
$header-text-color: $primary-blue;
$page-link-color: $primary-blue;

.site-header {
  height: 100px;
  border-top: none;
  border-bottom: none;
  background: $header-background;
  padding: 10px;
  position: fixed;
  width: 100%;
}

.site-title { 
  color: $primary-dark;
}

.site-header {
  padding-bottom: 0;
}

.site-header .wrapper {
  max-width: 100%;
  padding-left: 0;
  padding-bottom: 0;
 
}

.site-nav {
  font-family: Verlag-Bold;
  padding-bottom: 0;
  .page-link {
    color: $page-link-color;
  }
} 

a.page-link:hover {
  color: $primary-gold;
  text-decoration: none;
}

.site-nav .trigger {
  margin-right: 10px;
  margin-top: 50px;
}
