$header-background: $FFFFFF;
$header-text-color: $primary-blue;

.site-header {
  border-top: none;
  border-bottom: none;
  background: $header-background;
}

.site-title { 
  color: $primary-dark;
}
