---
layout: homepage
title: MOCA Spike 150
subtitle: Running Forward With Our Stories
slides:
  -
    img: /wp/uploads/Runners-1.png
  - 
    img: /wp/uploads/Runners-2.png
  - 
    img: /wp/uploads/Runners-3.png
  - 
    img: https://user-images.githubusercontent.com/41637129/65340563-825c9f00-db9c-11e9-93b2-ad73f2a7f52f.png
    url: https://vimeo.com/338891721
---
<div id="countdown" style="background:#ffa10a;height;200px;color:#fff;text-align:center;font-size:24px;font-family: verlag-bold;">
<a href="https://www.nyrr.org/races/2019tcsnewyorkcitymarathon" style="color:#FFF">2019 TCS New York City Marathon</a>
<br/>
November 3, 2019 8:00 AM
</div>
{% include slideshow.html %}
<div id="map" style="margin: 1em;"></div>
<div id="relay" style="background: #FFF7ED;"></div>
{% include about.html %}
<div class="container">
<h2>NYRR-registered MOCA Charity Team Runners</h2>

{% include ambassadors/official-group.html %}

<div class="row">
 <div class="col-sm-12" style="text-align:center">
   <div style="margin: 20px;">
    <a style="color: #FFF;background:#51cbce; border-radius:30px;margin:20px auto 0 0;padding: 10px 40px;text-tranform:uppercase;font-weight: 600;" href="/spike-150-ambassadors/">View All Ambassadors</a>
    </div>
    </div>
  </div>
</div>

<script type="module">
import {Runtime, Inspector} from "/notebook/5375e854035bc764/runtime.js";
import relay from '/notebook/5375e854035bc764/index.js';
import map from '/notebook/map/index.js';
const runtime = new Runtime();
runtime.module(relay, Inspector.into(document.getElementById('relay')));
runtime.module(map, Inspector.into(document.getElementById('map')));
</script>

{% include cards/index.html %}
