---
layout: homepage
title: MOCA Spike 150
subtitle: Running Forward With Our Stories
slides:
  -
    img: https://user-images.githubusercontent.com/46349226/66178557-bcfe1700-e633-11e9-8120-79bb2ea2c542.jpg
    url: https://www.mocaspike150.org/events/2019-10-03-moca-pre-race-festival
  - 
    img: https://user-images.githubusercontent.com/46349226/66076923-d10b2100-e52c-11e9-9248-64f56ea09648.jpg
    url: https://www.mocaspike150.org/posts/2019-10-01-moca-tshirt-sale
  - 
    img: https://user-images.githubusercontent.com/41637129/65340563-825c9f00-db9c-11e9-93b2-ad73f2a7f52f.png
    url: https://vimeo.com/338891721
---

<div id="relay" style="background: #FFF7ED;"></div>

{% include slideshow.html %}
<script type="module">
import {Runtime, Inspector} from '/notebook/5375e854035bc764/runtime.js';
import relay from '/notebook/5375e854035bc764/d/5375e854035bc764.js';
//import countdown from '/notebook/235f37e630c0d208/d/235f37e630c0d208.js';

const runtime = new Runtime();
runtime.module(relay, Inspector.into(document.getElementById('relay')));
//runtime.module(countdown, Inspector.into(document.getElementById('countdown')));
</script>

{% include about.html %}

<div class="container">
<h2>NYRR-registered MOCA Charity Team Runners</h2>

{% include ambassadors/official-group.html %}

<div class="row">
 <div class="col-sm-12" style="text-align:center">
   <div style="margin: 20px;">
    <a style="color: #FFF;background:#51cbce; border-radius:30px;margin:20px auto 0 0;padding: 10px 40px;text-tranform:uppercase;font-weight: 600;" href="/spike-150-ambassadors/">View All Ambassadors</a>
    </div>
    </div>
  </div>
</div>

{% include cards/index.html %}
