---
layout: wp
---
<style>
  svg {
    width: 100%;
  }
</style>
<h1>Build a Railroad</h1>

<h2>Rail</h2>
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="1280px" height="183.332px" viewBox="0 0 1280 183.332" enable-background="new 0 0 1280 183.332" xml:space="preserve">
  <g fill="grey">
    {% for d in site.data.railroad.rail %}
      <path d="{{ d }}"/>
    {% endfor %}
  <g>
</svg>

<h2>Rail + Crossties</h2>
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="1280px" height="183.332px" viewBox="0 0 1280 183.332" enable-background="new 0 0 1280 183.332" xml:space="preserve">
  <g fill="green">
    {% for d in site.data.railroad.rail %}
      <path d="{{ d }}"/>
    {% endfor %}
    {% for points in site.data.railroad.crossties %}
      <polygon points="{{ points }}"/>
    {% endfor %}
  <g>
</svg>
