---
layout: plain
---
<html>
<head>
<style>
* {
  position: absolute;
  padding: 0;
  margin: 0;
  color: #FFFFFF;
  background: #000000;
}

#container {
  opacity: 0;
  transition-duration: 2s;
}

.slide {
  width: 100%;
  transition-duration: 5s;
  opacity: 0;
}

.slide .qr {
  top: 180px;
  width: 256px;
  height: 256px;
}

.slide h1 {
  padding: 17px;
  font-size: 128px;
  color: #FFFFFF;
  background: rgba(0, 0, 0, 0.5);
}
</style>
</head>
<body>
<h1>Please wait</h1>
<div id="container">
<div class="slide" id="slide-{{ forloop.index0}}">
   {% include main-slideshow/01.html %}
</div>
<div class="slide" id="slide-{{ forloop.index0}}">
   {% include main-slideshow/02.html %}
</div>
</div>
<script>
   window.onload = () => {
	 const container = document.getElementById('container')
	 container.style.opacity = 1;
     let slides = document.querySelectorAll('.slide');
     let i = 0;
     const show = () => {
       console.log(i);
       if (i == slides.length) { 
         slides[i-1].style.opacity = 0
         i = 0;
       }
       slides[i].style.opacity = 1
       if(i > 0) {
         slides[i-1].style.opacity = 0
       }
       i++;
     }
     show();
     setInterval(show, 10000);
   } 

   window.onresize = () => {
     container.style.width = `${window.innerWidth}px`
     container.style.height = `${window.innerHeight}px`
   }
   window.onresize();
</script>
</body>
</html>
