---
layout: plain
---
<html>
<head>
<style>
* {
  position: absolute;
  padding: 0;
  margin: 0;
  background: #000000;
}

.slide {
  width: 100%;
}

.slide img {
}

.slide .qr {
  top: 180px;
}

.slide h1 {
  padding: 17px;
  font-size: 128px;
  color: #FFFFFF;
  background: rgba(0, 0, 0, 0.5);
}

.hidden {
  opacity: 0;
}
</style>
</head>
<body>
<div id="container">
{% for ambassador in site.ambassadors %}
<div class="slide">
   {% include ambassadors/profile/{{ ambassador.slug }}.html %}
   <div class="qr">
   {% include ambassadors/qr/{{ ambassador.slug }}.html %}
   </div>
    <h1>{{ ambassador.firstname }} {{ ambassador.lastname }}</h1>
</div>
{% endfor %}
</div>
<script>
   const container = document.getElementById('container')
   window.onresize = () => {
     container.style.width = `${window.innerWidth}px`
     container.style.height = `${window.innerHeight}px`
   }

   window.onresize();
</script>
</body>
</html>
