<div class="row">	
					
					<article class="col-xs-12 col-ms-10 col-ms-offset-1 col-sm-8 col-sm-offset-2 col-md-4 hestia-blog-item">
						<div class="card card-plain card-blog">
												<div class="card-image">
								<a href="/stories/2019-04-03-emile-bocian" title="Emile Bocian 包信">
									<img width="360" height="240" src="https://user-images.githubusercontent.com/46349226/55437385-c1eeea80-556c-11e9-877c-fd1803d78db8.jpg" class="attachment-hestia-blog size-hestia-blog wp-post-image" alt="">								</a>
							</div>
											<div class="content">
						<h6 class="category"><a href="/stories/" title="View all posts in 150 Stories" rel="tag">150 Stories</a> </h6>
						<h4 class="card-title entry-title">
							<a class="blog-item-title-link" href="/stories/2019-04-03-emile-bocian" title="Emile Bocian 包信" rel="bookmark">
								Emile Bocian<br>包信</a>
						</h4>
						<div class="card-description">
						<div class="desc-text">03 April 2019 Emile Bocian with Ed Koch , October 17, 1984 | Emile Bocian (first from the right), May 5, 1980  Museum of Chinse in America (MOCA) Emile Bocian Collection 包信和Ed Koch，1984年10月17日 | 包信（右一），1980年5月5日 包信档案，美国华人博物馆（MOCA）馆藏. The largest photograph collection at MOCA, which contains over 50,000 prints and negatives dating from between 1976 through 1985
						</div>
									
            <a class="moretag" href="/stories/2019-04-03-emile-bocian"> Read more…</a></div>
					</div>
				</div>
				</article>
				
					<article class="col-xs-12 col-ms-10 col-ms-offset-1 col-sm-8 col-sm-offset-2 col-md-4 hestia-blog-item">
						<div class="card card-plain card-blog">
												<div class="card-image">
								<a href="/stories/2019-04-02-new-york-chinatown-mini-marathon" title="New York Chinatown Mini-Marathon 纽约华埠迷你马拉松">
									<img width="360" height="240" src="https://user-images.githubusercontent.com/46349226/55439092-8c003500-5571-11e9-9df3-61d7b44f858d.jpg" class="attachment-hestia-blog size-hestia-blog wp-post-image" alt="">								</a>
							</div>
											<div class="content">
						<h6 class="category"><a href="/stories/" title="View all posts in 150 Stories" rel="tag">150 Stories</a> </h6>
						<h4 class="card-title entry-title">
							<a class="blog-item-title-link" href="/stories/2019-04-02-new-york-chinatown-mini-marathon" title="New York Chinatown Mini-Marathon 纽约华埠迷你马拉松" rel="bookmark">
								New York Chinatown Mini-Marathon<br>纽约华埠迷你马拉松</a>
						</h4>
						<div class="card-description">
						<div class="desc-text">02 April 2019 New York Chinatown Mini-Marathon, 1977 Photographs taken by Emile Bocian, Museum of Chinese in America (MOCA) Collection 纽约华埠迷你马拉松赛事，1977年 照片由Emile Bocian（包信）拍摄，美国华人博物馆（MOCA）馆藏 On August 28 th , 1977 a mini-marathon was held in New York’s Chinatown.
						</div>
									
            <a class="moretag" href="/stories/2019-04-02-new-york-chinatown-mini-marathon"> Read more…</a></div>
					</div>
				</div>
				</article>
					
					<article class="col-xs-12 col-ms-10 col-ms-offset-1 col-sm-8 col-sm-offset-2 col-md-4 hestia-blog-item">
						<div class="card card-plain card-blog">
												<div class="card-image">
								<a href="/stories/2019-04-01-first-continental-railroad" title="First Continental Railroad 第一条横贯大陆铁路">
									<img width="360" height="240" src="https://user-images.githubusercontent.com/46349226/55366721-f48adb80-54b7-11e9-8b98-f42ca9b1d819.png" class="attachment-hestia-blog size-hestia-blog wp-post-image" alt="">								</a>
							</div>
											<div class="content">
						<h6 class="category"><a href="/stories/" title="View all posts in 150 Stories" rel="tag">150 Stories</a> </h6>
						<h4 class="card-title entry-title">
							<a class="blog-item-title-link" href="/stories/2019-04-01-first-continental-railroad" title="First Continental Railroad 第一条横贯大陆铁路" rel="bookmark">
								First Continental Railroad <br>第一条横贯大陆铁路							</a>
						</h4>
						<div class="card-description">
						<div class="desc-text">01 April 2019 Postcard of Chinese laborers building the Central Pacific Railroad in the mid-1800s Courtesy of Alex Jay, Museum of Chinese in America (MOCA) Collection 19世纪80年代中期华人劳工修建美国中央太平洋铁路明信片Alex Jay捐赠，美国华人博物馆（MOCA）馆藏 In 1865, the Central Pacific Railroad, headed by Leland Stanford,
						</div>
									
            <a class="moretag" href="/stories/2019-04-01-first-continental-railroad"> Read more…</a></div>
					</div>
				</div>
				</article>
				</div><!-- /.row --><div class="row">
