<!--row1-->
				<div class="row">
					<article class="col-xs-12 col-ms-10 col-ms-offset-1 col-sm-8 col-sm-offset-2 col-md-4 hestia-blog-item">
						<div class="card card-plain card-blog">
												<div class="card-image">
								<a href="/stories/2019-04-04-flower-drum-song-and-mabel-wing" title="Flower Drum Song and Mabel Wing 花鼓戏和Mabel Wing">
									<img width="360" height="240" src="https://user-images.githubusercontent.com/46349226/55569646-e9aa9380-56cf-11e9-94d2-db03c282ad38.png" class="attachment-hestia-blog size-hestia-blog wp-post-image" alt="">								</a>
							</div>
											<div class="content">
						<h6 class="category"><a href="/stories/" title="View all posts in 150 Stories" rel="tag">150 Stories</a> </h6>
						<h4 class="card-title entry-title">
							<a class="blog-item-title-link" href="/stories/2019-04-04-flower-drum-song-and-mabel-wing" title="Flower Drum Song and Mabel Wing 花鼓戏和Mabel Wing" rel="bookmark">
								Flower Drum Song and Mabel Wing<br>花鼓戏和Mabel Wing							</a>
						</h4>
						<div class="card-description">
						<div class="desc-text">04 April 2019 Flower Drum Song was a Broadway musical directed by Rodgers and Hammerstein in 1958 based on a novel by C. Y. Lee. The choreography of the musical imitated the Chop Suey circuit, an Asian American cabaret thrived in Chinatowns in the 1940s and 1950s. Mae Wing (in the middle) performed as an ensemble dancer in this well-known musical when it first came out. 
						</div>
									
            <a class="moretag" href="/stories/2019-04-04-flower-drum-song-and-mabel-wing"> Read more…</a></div>
					</div>
				</div>
				</article>
	
				
					<article class="col-xs-12 col-ms-10 col-ms-offset-1 col-sm-8 col-sm-offset-2 col-md-4 hestia-blog-item">
						<div class="card card-plain card-blog">
												<div class="card-image">
								<a href="/stories/2019-04-03-emile-bocian" title="Emile Bocian 包信">
									<img width="360" height="240" src="https://user-images.githubusercontent.com/46349226/55437385-c1eeea80-556c-11e9-877c-fd1803d78db8.jpg" class="attachment-hestia-blog size-hestia-blog wp-post-image" alt="">								</a>
							</div>
											<div class="content">
						<h6 class="category"><a href="/stories/" title="View all posts in 150 Stories" rel="tag">150 Stories</a> </h6>
						<h4 class="card-title entry-title">
							<a class="blog-item-title-link" href="/stories/2019-04-03-emile-bocian" title="Emile Bocian 包信" rel="bookmark">
								Emile Bocian<br>包信</a>
						</h4>
						<div class="card-description">
						<div class="desc-text">03 April 2019 Emile Bocian with Ed Koch , October 17, 1984 | Emile Bocian (first from the right), May 5, 1980  Museum of Chinse in America (MOCA) Emile Bocian Collection 包信和Ed Koch，1984年10月17日 | 包信（右一），1980年5月5日 包信档案，美国华人博物馆（MOCA）馆藏. The largest photograph collection at MOCA, which contains over 50,000 prints and negatives dating from between 1976 through 1985
						</div>
									
            <a class="moretag" href="/stories/2019-04-03-emile-bocian"> Read more…</a></div>
					</div>
				</div>
				</article>
				
					<article class="col-xs-12 col-ms-10 col-ms-offset-1 col-sm-8 col-sm-offset-2 col-md-4 hestia-blog-item">
						<div class="card card-plain card-blog">
												<div class="card-image">
								<a href="/stories/2019-04-02-new-york-chinatown-mini-marathon" title="New York Chinatown Mini-Marathon 纽约华埠迷你马拉松">
									<img width="360" height="240" src="https://user-images.githubusercontent.com/46349226/55439092-8c003500-5571-11e9-9df3-61d7b44f858d.jpg" class="attachment-hestia-blog size-hestia-blog wp-post-image" alt="">								</a>
							</div>
											<div class="content">
						<h6 class="category"><a href="/stories/" title="View all posts in 150 Stories" rel="tag">150 Stories</a> </h6>
						<h4 class="card-title entry-title">
							<a class="blog-item-title-link" href="/stories/2019-04-02-new-york-chinatown-mini-marathon" title="New York Chinatown Mini-Marathon 纽约华埠迷你马拉松" rel="bookmark">
								New York Chinatown Mini-Marathon<br>纽约华埠迷你马拉松</a>
						</h4>
						<div class="card-description">
						<div class="desc-text">02 April 2019 New York Chinatown Mini-Marathon, 1977 Photographs taken by Emile Bocian, Museum of Chinese in America (MOCA) Collection 纽约华埠迷你马拉松赛事，1977年 照片由Emile Bocian（包信）拍摄，美国华人博物馆（MOCA）馆藏 On August 28 th , 1977 a mini-marathon was held in New York’s Chinatown.
						</div>
									
            <a class="moretag" href="/stories/2019-04-02-new-york-chinatown-mini-marathon"> Read more…</a></div>
					</div>
				</div>
				</article>
					
					
				</div><!-- /.row 1 -->

