<!-- /row 2 -->
				<div class="row">
			
					
			<article class="col-xs-12 col-ms-10 col-ms-offset-1 col-sm-8 col-sm-offset-2 col-md-4 hestia-blog-item">
				<div class="card card-plain card-blog">
												<div class="card-image">
								<a href="/posts/2019-03-30-NJ-Marathon-Training-Run" title="NJ Marathon Training Run">
									<img width="360" height="240" src="https://user-images.githubusercontent.com/46349226/55597827-7f204480-571d-11e9-9fd7-aca7a94fbd38.jpg" class="attachment-hestia-blog size-hestia-blog wp-post-image" alt="">								</a>
							</div>
											<div class="content">
						<h6 class="category"><a href="/category/posts" title="View all posts in Experience" rel="tag">Experience</a> </h6>
						<h4 class="card-title entry-title">
							<a class="blog-item-title-link" href="/posts/2019-03-30-NJ-Marathon-Training-Run" title="NJ Marathon Training Run" rel="bookmark">NJ Marathon Training Run</a>
						</h4>
						<div class="card-description">
						<div class="desc-text">Leading up to the NJ Marathon, Half Marathon, and Marathon Relays on April 29th, a few passion-driven official NJM pacers have organized a 5-week training program free of charge to the incoming runners. Two sets of distances and routes are designed for every of the five weekends, customized to fit runners’ training progress, for both full and half marathon participants.</div>
            <a class="moretag" href="/posts/2019-03-30-NJ-Marathon-Training-Run"> Read more…</a></div>
					</div>
				</div>
				</article>
					
					
					
					
				<article class="col-xs-12 col-ms-10 col-ms-offset-1 col-sm-8 col-sm-offset-2 col-md-4 hestia-blog-item">
				<div class="card card-plain card-blog">
												<div class="card-image">
								<a href="/events/2019-03-26-new-jersey-marathon-training-run" title="New Jersey Marathon Training Run">
									<img width="360" height="240" src="/wp/uploads/2019/03/njMtraining-map-360x240.png" class="attachment-hestia-blog size-hestia-blog wp-post-image" alt="">								</a>
							</div>
											<div class="content">
						<h6 class="category"><a href="/category/events" title="View all posts in Events" rel="tag">Events</a> </h6>
						<h4 class="card-title entry-title">
							<a class="blog-item-title-link" href="/events/2019-03-26-new-jersey-marathon-training-run" title="New Jersey Marathon Training Run" rel="bookmark">
								New Jersey Marathon Training Run</a>
						</h4>
						<div class="card-description">
						<div class="desc-text">
							Date Time: 3/30/2019 7:00/8:00AM Meet up: The Corner Cafe and Bistro 10 Centennial Dr. Long Branch, NJ 07740 由新马官兔负责人Otto和他的团队免费提供连续5周的训练非常成功和热闹，参加者受益良多。接下来还有兩个周末的训练，本周末安排在周六3/30，欢迎大家继续参加！ 本周的训练之后，东奔西跑群还特别为大家安排了在附近的Franklin Lake Park的跑后野餐会，并提供食物和饮</div>
									
            <a class="moretag" href="/events/2019-03-26-new-jersey-marathon-training-run"> Read more…</a></div>
					</div>
				</div>
				</article>
				
							<article class="col-xs-12 col-ms-10 col-ms-offset-1 col-sm-8 col-sm-offset-2 col-md-4 hestia-blog-item">
				<div class="card card-plain card-blog">
												<div class="card-image">
								<a href="/events/2019-03-26-call-for-submission" title="MOCA征文：书写你的故事">
									<img width="360" height="240" src="/wp/uploads/2019/03/transcontinental-railroad-golden-spike-ceremony-war-is-hell-store-360x240.jpg" class="attachment-hestia-blog size-hestia-blog wp-post-image" alt=""></a>
							</div>
											<div class="content">
						<h6 class="category"><a href="/events/2019-03-26-call-for-submission" title="View all posts in Events" rel="tag">Events</a> </h6>
						<h4 class="card-title entry-title">
							<a class="blog-item-title-link" href="/events/2019-03-26-call-for-submission" title="MOCA征文：书写你的故事" rel="bookmark">
								MOCA征文：书写你的故事</a>
						</h4>
						<div class="card-description">
						<div class="desc-text">今年，2019年，是美国跨洲铁路东西向连结完工的150周年。当年那些远渡重洋的华人们，为建设这条铁路所做出了巨大贡献。 那一批华工的到来，是华人大规模移民美国的开始。150年，是一个半世纪。沧海桑田，世界发生了很大的变化。而美国华人的数目、地位、生活方式等，也和当年不可同日而语。</div>
            <a class="moretag" href="/events/2019-03-26-call-for-submission"> Read more…</a></div>
					</div>
				</div>
				</article>

					</div><!-- /.row 2 -->
