<!-- /row 2 -->
		<div class="row">
			
						<article class="col-xs-12 col-ms-10 col-ms-offset-1 col-sm-8 col-sm-offset-2 col-md-4 hestia-blog-item">
				<div class="card card-plain card-blog">
												<div class="card-image">
								<a href="/posts/2019-05-17-15-Facts" title="Fifteen Facts / 15个修建铁路小知识">
									<img width="360" height="240" src="https://user-images.githubusercontent.com/47510739/57952141-4944b300-78ba-11e9-9d33-94e1d00c7916.jpg" class="attachment-hestia-blog size-hestia-blog wp-post-image" alt="">								</a>
							</div>
											<div class="content">
						<h6 class="category"><a href="/category/posts" title="View all posts in Experience" rel="tag">Blog</a> </h6>
						<h4 class="card-title entry-title">
							<a class="blog-item-title-link" href="/posts/2019-05-17-15-Facts" title="Fifteen Facts / 15个修建铁路小知识" rel="bookmark">Fifteen Facts / 15个修建铁路小知识</a>
						</h4>
						<div class="card-description">
						<div class="desc-text"><ol>
  <li>President Abraham Lincoln signs the first Pacific Railroad Act on July 1, 1862, the first concrete step by the federal government to provide support for the transcontinental railroad.
1862年7月1日，亚拉伯罕•林肯总统签署了第一部《太平洋铁路法》，这是联邦政府为支持横贯大陆铁路建设而采取的第一步实质性的支持。
</li>

  <li>The Transcontinental Railroad was one of the Pacific Railroads. It started construction in 1863 and was completed on May 10, 1869
横贯大陆铁路是太平洋铁路线之一。它始建于1863年，于1869年5月10日竣工。
</li>
</ol></div>
            <a class="moretag" href="/posts/2019-05-17-15-Facts"> Read more…</a></div>
					</div>
				</div>
				</article>
			
			
			<article class="col-xs-12 col-ms-10 col-ms-offset-1 col-sm-8 col-sm-offset-2 col-md-4 hestia-blog-item">
				<div class="card card-plain card-blog">
						<div class="card-image">
						<a href="/posts/2019-05-11-striving-and-achieving-as-one" title="NJ Marathon: Striving and Achieving As One">
						<img width="360" height="240" src="https://user-images.githubusercontent.com/46349226/57584747-f11e4300-74ac-11e9-9284-a8a66d830147.jpg" class="attachment-hestia-blog size-hestia-blog wp-post-image" alt=""></a>
							</div>
											<div class="content">
						<h6 class="category"><a href="/posts/" title="View all posts in Events" rel="tag">Blog</a> </h6>
						<h4 class="card-title entry-title">
							<a class="blog-item-title-link" href="/posts/2019-05-11-striving-and-achieving-as-one" title="" rel="bookmark">NJ Marathon: Striving and Achieving As One</a>
						</h4>
						<div class="card-description">
						<div class="desc-text" style="height: 105px;">Yesterday, May 10, 2019–on the 150th anniversary of the Transcontinental Railroad completion, I was at Promontory Point in Utah. When I walked passed a large group of young children dressed with railroad conductor hats and blue and white pin stripe railroad uniforms, I asked them if they were going to perform a song in honor of the 150th Anniversary. They replied in happy unison, “yes!” This group was the Utah Children’s Choir. I asked them if they knew that the Chinese helped build the railroads. They replied even more energetically and in triumphant unison, “yes!!!” An hour later they would perform a piece titled “As One” that would move the audience of over 15,000 visitors on this special anniversary date.</div>
            <a class="moretag" href="/posts/2019-05-11-striving-and-achieving-as-one"> Read more…</a></div>
					</div>
				</div>
				</article>
					
				
			
			<article class="col-xs-12 col-ms-10 col-ms-offset-1 col-sm-8 col-sm-offset-2 col-md-4 hestia-blog-item">
				<div class="card card-plain card-blog">
						<div class="card-image">
							<a href="/posts/2019-06-25-artwork-theglidedspike" title="Artist's Statement: The Gilded Spike">
									<img width="360" height="240" src="https://user-images.githubusercontent.com/47676628/60360924-d7788280-99aa-11e9-8abf-ebf8aee440a5.jpg" class="attachment-hestia-blog size-hestia-blog wp-post-image" alt="">								</a>
							</div>
											<div class="content">
						<h6 class="category"><a href="/category/posts" title="View all posts in Blog" rel="tag">Blog</a> </h6>
						<h4 class="card-title entry-title">
							<a class="blog-item-title-link" href="/posts/2019-06-25-artwork-theglidedspike" title="Artist's Statement: The Gilded Spike" rel="bookmark">Artist's Statement: The Gilded Spike/a>
						</h4>
						<div class="card-description">
						<div class="desc-text"  style="height: 105px;">In this painting, I attempted to encapsulate the history of how Chinese migrant workers were exploited to build the first trans-continental railroad yet were barred from taking advantage of the benefits it offered. Branded as “perpetual foreigners” by widespread anti-Chinese sentiment, many of these migrant workers became victims of violent racism, riots, and massacres and were often forced to take refuge in the first American Chinatowns. As a result of xenophobic conditions, the Chinese Exclusion Act restricting all Chinese immigration to the United States passed in 1882, just a little over a decade after the planting of the golden spike in 1869.</div>
            <a class="moretag" href="/posts/2019-06-25-artwork-theglidedspike"> Read more…</a></div>
					</div>
				</div>
				</article>
			

				
					</div><!-- /.row 2 -->
