<!-- /row 2 -->
		<div class="row">
			
			<article class="col-xs-12 col-ms-10 col-ms-offset-1 col-sm-8 col-sm-offset-2 col-md-4 hestia-blog-item">
				<div class="card card-plain card-blog">
												<div class="card-image">
								<a href="/posts/2019-04-18-MOCA-Spike-150-7M-Run" title="MOCA Spike 150: Chinatown 7M Run">
									<img width="360" height="240" src="https://user-images.githubusercontent.com/46349226/56405155-f6cf9280-6238-11e9-9f76-201d9e7d3e1e.jpg" class="attachment-hestia-blog size-hestia-blog wp-post-image" alt="">								</a>
							</div>
											<div class="content">
						<h6 class="category"><a href="/category/posts" title="View all posts in Experience" rel="tag">Blog</a> </h6>
						<h4 class="card-title entry-title">
							<a class="blog-item-title-link" href="/posts/2019-04-18-MOCA-Spike-150-7M-Run" title="MOCA Spike 150: Chinatown 7M Run" rel="bookmark">
								MOCA Spike 150: Chinatown 7M Run						</a>
						</h4>
						<div class="card-description">
						<div class="desc-text">“Our memory is made up of our individual memories and our collective memories. The two are intimately linked. And history is our collective memory. If our collective memory is taken from us - is rewritten - we lose the ability to sustain our true selves.” ~Haruki Murakam</div>
            <a class="moretag" href="/posts/2019-04-18-MOCA-Spike-150-7M-Run"> Read more…</a></div>
					</div>
				</div>
				</article>
			
			<article class="col-xs-12 col-ms-10 col-ms-offset-1 col-sm-8 col-sm-offset-2 col-md-4 hestia-blog-item">
				<div class="card card-plain card-blog">
						<div class="card-image">
						<a href="/events/2019-04-06-moca-chinatown-7m-run" title="Chinatown 7 Mile Run">
						<img width="360" height="240" src="https://user-images.githubusercontent.com/46349226/55439092-8c003500-5571-11e9-9df3-61d7b44f858d.jpg" class="attachment-hestia-blog size-hestia-blog wp-post-image" alt=""></a>
							</div>
											<div class="content">
						<h6 class="category"><a href="/events/2019-03-26-call-for-submission" title="View all posts in Events" rel="tag">Events</a> </h6>
						<h4 class="card-title entry-title">
							<a class="blog-item-title-link" href="/events/2019-04-06-moca-chinatown-7m-run" title="Chinatown 7 Mile Run" rel="bookmark">Chinatown 7 Mile Run + MOCA Spike 150 Launch Event</a>
						</h4>
						<div class="card-description">
						<div class="desc-text" style="height: 105px;">Let’s re-create this Chinatown mini marathon back in 1976! 

The country just had its bicentennial. Long summers. Black outs. Roller skates. Platform shoes. Charlie's Angels. Star Wars. Who knew running was a thing in '70s Chinatown!</div>
            <a class="moretag" href="/events/2019-04-06-moca-chinatown-7m-runn"> Read more…</a></div>
					</div>
				</div>
				</article>
					
					
					
			<article class="col-xs-12 col-ms-10 col-ms-offset-1 col-sm-8 col-sm-offset-2 col-md-4 hestia-blog-item">
				<div class="card card-plain card-blog">
												<div class="card-image">
								<a href="/posts/2019-03-30-a-great-day-in-long-branch" title="A Great Day in Long Branch">
									<img width="360" height="240" src="https://user-images.githubusercontent.com/46349226/55597827-7f204480-571d-11e9-9fd7-aca7a94fbd38.jpg" class="attachment-hestia-blog size-hestia-blog wp-post-image" alt="">								</a>
							</div>
											<div class="content">
						<h6 class="category"><a href="/category/posts" title="View all posts in Blog" rel="tag">Blog</a> </h6>
						<h4 class="card-title entry-title">
							<a class="blog-item-title-link" href="/posts/2019-03-30-a-great-day-in-long-branch" title="A Great Day in Long Branch" rel="bookmark">A Great Day in Long Branch</a>
						</h4>
						<div class="card-description">
						<div class="desc-text">Leading up to the NJ Marathon, Half Marathon, and Marathon Relays on April 28th, a few passion-driven official NJM pacers have organized a 5-week training program free of charge to the incoming runners. Two sets of distances and routes are designed for every of the five weekends, customized to fit runners’ training progress, for both full and half marathon participants.</div>
            <a class="moretag" href="/posts/2019-03-30-a-great-day-in-long-branch"> Read more…</a></div>
					</div>
				</div>
				</article>
					
				
				

					</div><!-- /.row 2 -->
