<!-- /row 2 -->
		<div class="row">
			<article class="col-xs-12 col-ms-10 col-ms-offset-1 col-sm-8 col-sm-offset-2 col-md-4 hestia-blog-item">
				<div class="card card-plain card-blog">
						<div class="card-image">
						<a href="/posts/2019-06-25-nj-marathon-relay" title="新泽西马拉松：我们加入了MOCA Spike 150接力团队">
						<img width="360" height="240" src="https://user-images.githubusercontent.com/47676628/60054725-561ea880-96a9-11e9-8445-8b960d2ba5e9.jpg" class="attachment-hestia-blog size-hestia-blog wp-post-image" alt=""></a>
							</div>
											<div class="content">
						<h6 class="category"><a href="/category/posts" title="View all posts in Blog" rel="tag">Blog</a> </h6>
						<h4 class="card-title entry-title">
							<a class="blog-item-title-link" href="/posts/2019-06-25-nj-marathon-relay" title="新泽西马拉松：我们加入了MOCA Spike 150接力团队" rel="bookmark">新泽西马拉松：我们加入了MOCA Spike 150接力团队</a>
						</h4>
						<div class="card-description">
						<div class="desc-text" style="height: 105px;">Yesterday, May 10, 2019–on the 150th anniversary of the Transcontinental On Sunday, April 28th, Julia Zeng and Sherry Sun joined Nancy Yao Maasbach, the President, and Yue Ma, the Director of Collections & Research of MOCA and comprise the MCOA Spike 150 relay team at the 2019 Novo Nordisk New Jersery Marathon, running a 26.2 mile race and finishing at 3 hours 48 mintutes 29 seconds.</div>
            <a class="moretag" href="/posts/2019-06-25-nj-marathon-relay"> Read more…</a></div>
					</div>
				</div>
				</article>
			<article class="col-xs-12 col-ms-10 col-ms-offset-1 col-sm-8 col-sm-offset-2 col-md-4 hestia-blog-item">
				<div class="card card-plain card-blog">
						<div class="card-image">
							<a href="/posts/2019-06-25-artwork-theglidedspike" title="Artist's Statement: The Gilded Spike">
									<img width="360" height="240" src="https://user-images.githubusercontent.com/47676628/60360924-d7788280-99aa-11e9-8abf-ebf8aee440a5.jpg" class="attachment-hestia-blog size-hestia-blog wp-post-image" alt="">								</a>
							</div>
											<div class="content">
						<h6 class="category"><a href="/category/posts" title="View all posts in Blog" rel="tag">Blog</a> </h6>
						<h4 class="card-title entry-title">
							<a class="blog-item-title-link" href="/posts/2019-06-25-artwork-theglidedspike" title="Artist's Statement: The Gilded Spike" rel="bookmark">Artist's Statement: The Gilded Spike</a>
						</h4>
						<div class="card-description">
						<div class="desc-text"  style="height: 135px;">In this painting, I attempted to encapsulate the history of how Chinese migrant workers were exploited to build the first trans-continental railroad yet were barred from taking advantage of the benefits it offered. Branded as “perpetual foreigners” by widespread anti-Chinese sentiment, many of these migrant workers became victims of violent racism, riots, and massacres and were often forced to take refuge in the first American Chinatowns. As a result of xenophobic conditions, the Chinese Exclusion Act restricting all Chinese immigration to the United States passed in 1882, just a little over a decade after the planting of the golden spike in 1869.</div>
            <a class="moretag" href="/posts/2019-06-25-artwork-theglidedspike"> Read more…</a></div>
					</div>
				</div>
				</article>
			
			
						<article class="col-xs-12 col-ms-10 col-ms-offset-1 col-sm-8 col-sm-offset-2 col-md-4 hestia-blog-item">
				<div class="card card-plain card-blog">
												<div class="card-image">
								<a href="/posts/2019-05-17-15-Facts" title="Fifteen Facts / 15个修建铁路小知识">
									<img width="360" height="240" src="https://user-images.githubusercontent.com/47510739/57952141-4944b300-78ba-11e9-9d33-94e1d00c7916.jpg" class="attachment-hestia-blog size-hestia-blog wp-post-image" alt="">								</a>
							</div>
											<div class="content">
						<h6 class="category"><a href="/category/posts" title="View all posts in Experience" rel="tag">Blog</a> </h6>
						<h4 class="card-title entry-title">
							<a class="blog-item-title-link" href="/posts/2019-05-17-15-Facts" title="Fifteen Facts / 15个修建铁路小知识" rel="bookmark">Fifteen Facts / 15个修建铁路小知识</a>
						</h4>
						<div class="card-description">
						<div class="desc-text"><ol>
  <li>President Abraham Lincoln signs the first Pacific Railroad Act on July 1, 1862, the first concrete step by the federal government to provide support for the transcontinental railroad.
1862年7月1日，亚拉伯罕•林肯总统签署了第一部《太平洋铁路法》，这是联邦政府为支持横贯大陆铁路建设而采取的第一步实质性的支持。
</li>

  <li>The Transcontinental Railroad was one of the Pacific Railroads. It started construction in 1863 and was completed on May 10, 1869
横贯大陆铁路是太平洋铁路线之一。它始建于1863年，于1869年5月10日竣工。
</li>
</ol></div>
            <a class="moretag" href="/posts/2019-05-17-15-Facts"> Read more…</a></div>
					</div>
				</div>
				</article>
			
					</div><!-- /.row 2 -->
