<!-- /.row 3 -->
					<div class="row">
						<article class="col-xs-12 col-ms-10 col-ms-offset-1 col-sm-8 col-sm-offset-2 col-md-4 hestia-blog-item">
				<div class="card card-plain card-blog">
												<div class="card-image">
								<a href="/events/2019-03-26-call-for-submission" title="MOCA征文：书写你的故事">
									<img width="360" height="240" src="/wp/uploads/2019/03/transcontinental-railroad-golden-spike-ceremony-war-is-hell-store-360x240.jpg" class="attachment-hestia-blog size-hestia-blog wp-post-image" alt=""></a>
							</div>
											<div class="content">
						<h6 class="category"><a href="/events/2019-03-26-call-for-submission" title="View all posts in Events" rel="tag">Events</a> </h6>
						<h4 class="card-title entry-title">
							<a class="blog-item-title-link" href="/events/2019-03-26-call-for-submission" title="MOCA征文：书写你的故事" rel="bookmark">
								MOCA征文：书写你的故事</a>
						</h4>
						<div class="card-description">
						<div class="desc-text">今年，2019年，是美国跨洲铁路东西向连结完工的150周年。当年那些远渡重洋的华人们，为建设这条铁路所做出了巨大贡献。 那一批华工的到来，是华人大规模移民美国的开始。150年，是一个半世纪。沧海桑田，世界发生了很大的变化。而美国华人的数目、地位、生活方式等，也和当年不可同日而语。</div>
            <a class="moretag" href="/events/2019-03-26-call-for-submission"> Read more…</a></div>
					</div>
				</div>
				</article>
						
		<article class="col-xs-12 col-ms-10 col-ms-offset-1 col-sm-8 col-sm-offset-2 col-md-4 hestia-blog-item">
				<div class="card card-plain card-blog">
				<div class="card-image">
					<a href="/posts/2019-03-25-ambassador-rachel-lu-cn" title="用Spike 150 为波马热身">
						<img width="360" height="240" src="/wp/uploads/2019/03/Rachel.jpg" class="attachment-hestia-blog size-hestia-blog wp-post-image" alt=""></a>
				</div>
				<div class="content">
				<h6 class="category"><a href="/posts/2019-03-25-ambassador-rachel-lu-cn" title="View all posts in Events" rel="tag">Events</a> </h6>
				<h4 class="card-title entry-title">
				<a class="blog-item-title-link" href="/events/2019-03-26-call-for-submission" title="用Spike 150 为波马热身" rel="bookmark">用Spike 150 为波马热身</a>
				</h4>
				<div class="card-description">
					<div class="desc-text">点赞一下也算数据。几年前，一次吃饭，见邻桌一青中年帅哥面熟，是那种年轻时认识后来很多年没见过的脸，电光火石间，想起来是华裔网球名将张德培，那当然我要问好，开始他还拘谨，几句后，差点把他热泪说出，他老婆感动地热情地把我们拖到歺厅外帮我们合影，我说的是”不在乎多少大满贯，你张德培横空出现，是一个强大</div>
            <a class="moretag" href="/posts/2019-03-25-ambassador-rachel-lu-cn"> Read more…</a></div>
					</div>
				</div>
				</article>
						
				<article class="col-xs-12 col-ms-10 col-ms-offset-1 col-sm-8 col-sm-offset-2 col-md-4 hestia-blog-item">
				<div class="card card-plain card-blog">
												<div class="card-image">
								<a href="/posts/2019-03-25-moca-spike-150-interview" title="MOCA Spike 150 二月拍摄花絮">
									<img width="360" height="240" src="/wp/uploads/2019/03/museum-1-360x240.jpg" class="attachment-hestia-blog size-hestia-blog wp-post-image" alt="">								</a>
							</div>
											<div class="content">
						<h6 class="category"><a href="/category/posts" title="View all posts in Experience" rel="tag">Blog</a> </h6>
						<h4 class="card-title entry-title">
							<a class="blog-item-title-link" href="/posts/2019-03-25-moca-spike-150-interview" title="MOCA Spike 150 二月拍摄花絮" rel="bookmark">
								MOCA Spike 150 二月拍摄花絮							</a>
						</h4>
						<div class="card-description">
						<div class="desc-text">今年的奥斯卡金像奖，华裔摄影师金国威（Jimmy Chin）与妻子Elizabeth Chai Vasarhelyi共同执导的《自由攀登（Free Solo）》摘得最佳纪录片奖；华裔女导演石之予制作的动画短片《包宝宝（Bao）》获得最佳动画短片奖，这是多么令华人及华人电影界振奋的消息啊！大胆设想一下，不久的将来，又有一部由华裔指导的纪录片</div>
            <a class="moretag" href="/posts/2019-03-25-moca-spike-150-interview"> Read more…</a></div>
					</div>
				</div>
				</article>
			
			
							
			
				</div><!-- /.row3 -->
