<!-- /.row 3 -->
					<div class="row">
							<article class="col-xs-12 col-ms-10 col-ms-offset-1 col-sm-8 col-sm-offset-2 col-md-4 hestia-blog-item">
				<div class="card card-plain card-blog">
												<div class="card-image">
								<a href="/posts/2019-03-25-ambassador-rachel-lu-cn" title="用Spike 150 为波马热身">
									<img width="360" height="240" src="/wp/uploads/2019/03/Rachel.jpg" class="attachment-hestia-blog size-hestia-blog wp-post-image" alt="">								</a>
							</div>
											<div class="content">
						<h6 class="category"><a href="/category/posts" title="View all posts in Experience" rel="tag">Experience</a> </h6>
						<h4 class="card-title entry-title">
							<a class="blog-item-title-link" href="/posts/2019-03-25-ambassador-rachel-lu-cn" title="用Spike 150 为波马热身" rel="bookmark">
								用Spike 150 为波马热身							</a>
						</h4>
						<div class="card-description">
						<div class="desc-text">点赞一下也算数据。几年前，一次吃饭，见邻桌一青中年帅哥面熟，是那种年轻时认识后来很多年没见过的脸，电光火石间，想起来是华裔网球名将张德培，那当然我要问好，开始他还拘谨，几句后，差点把他热泪说出，他老婆感动地热情地把我们拖到歺厅外帮我们合影，我说的是”不在乎多少大满贯，你张德培横空出现，是一个强大</div>
            <a class="moretag" href="/posts/2019-03-25-ambassador-rachel-lu-cn"> Read more…</a></div>
					</div>
				</div>
				</article>
				<article class="col-xs-12 col-ms-10 col-ms-offset-1 col-sm-8 col-sm-offset-2 col-md-4 hestia-blog-item">
				<div class="card card-plain card-blog">
												<div class="card-image">
								<a href="/posts/2019-03-25-moca-spike-150-interview" title="MOCA Spike 150 二月拍摄花絮">
									<img width="360" height="240" src="/wp/uploads/2019/03/museum-1-360x240.jpg" class="attachment-hestia-blog size-hestia-blog wp-post-image" alt="">								</a>
							</div>
											<div class="content">
						<h6 class="category"><a href="/category/posts" title="View all posts in Experience" rel="tag">Experience</a> </h6>
						<h4 class="card-title entry-title">
							<a class="blog-item-title-link" href="/posts/2019-03-25-moca-spike-150-interview" title="MOCA Spike 150 二月拍摄花絮" rel="bookmark">
								MOCA Spike 150 二月拍摄花絮							</a>
						</h4>
						<div class="card-description">
						<div class="desc-text">今年的奥斯卡金像奖，华裔摄影师金国威（Jimmy Chin）与妻子Elizabeth Chai Vasarhelyi共同执导的《自由攀登（Free Solo）》摘得最佳纪录片奖；华裔女导演石之予制作的动画短片《包宝宝（Bao）》获得最佳动画短片奖，这是多么令华人及华人电影界振奋的消息啊！大胆设想一下，不久的将来，又有一部由华裔指导的纪录片</div>
            <a class="moretag" href="/posts/2019-03-25-moca-spike-150-interview"> Read more…</a></div>
					</div>
				</div>
				</article>
			
				<article class="col-xs-12 col-ms-10 col-ms-offset-1 col-sm-8 col-sm-offset-2 col-md-4 hestia-blog-item">
				<div class="card card-plain card-blog">
												<div class="card-image">
								<a href="/posts/2019-03-12-moca-goes-global" title="MOCA Goes Global!">
									<img width="360" height="240" src="/wp/uploads/2019/03/Johnson_Shen-360x240.jpg" class="attachment-hestia-blog size-hestia-blog wp-post-image" alt="">								</a>
							</div>
											<div class="content">
						<h6 class="category"><a href="/category/posts" title="View all posts in Experience" rel="tag">Experience</a> </h6>
						<h4 class="card-title entry-title">
							<a class="blog-item-title-link" href="/posts/2019-03-12-moca-goes-global" title="MOCA Goes Global!" rel="bookmark">
								MOCA Goes Global!							</a>
						</h4>
						<div class="card-description">
						<div class="desc-text">MOCA goes global! In support of our newest initiative – MOCA Spike 150, our friend Johnson Shen climbed to the summit of Mount Aconcagua in Argentina (the highest mountain outside of Asia!) in a 12 hour trek with high speed winds, all while wearing a MOCA t-shirt!You don’t have to climb a mountain, but you too can get involved with MOCA Spike 150! This year is the 150th anniversary of the moment a golden spike was driven into the ground to mark the completion of the Transcontinental Railroad.</div>
							<a class="moretag" href="/posts/2019-03-12-moca-goes-global"> Read more…</a></div>
					</div>
				</div>
				</article>
				
							
			
				</div><!-- /.row3 -->
