<div id="main-navigation" class="collapse navbar-collapse">
  <ul id="menu-primary-menu" class="nav navbar-nav">
    <li id="menu-item-73" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-8 current_page_item menu-item-73  {{page.dir}} {% if page.dir == '/' %} active {% endif %}">
      <a title="Home" href="/">Home</a>
    </li>
    <li id="menu-item-1" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1 dropdown
          {% if page.dir contains '/about-moca' %} active {% endif %}
          {% if page.dir contains '/moca-spike-150' %} active {% endif %}
          {% if page.dir contains '/how-to-participate' %} active {% endif %}
          {% if page.dir contains '/faqs' %} active {% endif %}
          ">
      <a title="About" href="/about-moca/" class="dropdown-toggle">
        About <span class="caret-wrap"><span class="caret"></span></span>
      </a>
      <ul role="menu" class="dropdown-menu">
        <li id="menu-item-2" class="menu-item menu-item-type-post_type menu-item-object-page">
          <a title="About MOCA" href="/about-moca/">About MOCA</a>
        </li>
        <li id="menu-item-3" class="menu-item menu-item-type-post_type menu-item-object-page">
          <a title="MOCA and Spike 150" href="/moca-spike-150/">About MOCA Spike 150</a>
        </li>
        <li id="menu-item-4" class="menu-item menu-item-type-post_type menu-item-object-page">
          <a title="How to Participate" href="/how-to-participate/">How to Participate</a>
        </li>
        <li id="menu-item-5" class="menu-item menu-item-type-post_type menu-item-object-page">
          <a title="FAQs" href="/faqs/">FAQs</a>
        </li>
      </ul>
    </li>
    <li id="menu-item-6" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1 dropdown
       {% if page.dir contains '/marathon/' %} active {% endif %}
       ">
	   <a title="TCS NYC Marathon" href="/marathon/" class="dropdown-toggle">
        Marathon <span class="caret-wrap"><span class="caret"></span></span>
      </a>
     
       <ul role="menu" class="dropdown-menu">
	       
        <li id="menu-item-61" class="menu-item menu-item-type-post_type menu-item-object-page">
          <a title="MOCA Spike 150 Ambassadors" href="https://mocanyc.pastperfectonline.com/search?utf8=%E2%9C%93&search_criteria=2018.032&searchButton=Search" target=_blank>MOCA TCS NYC Marathon Team 2018</a>
        </li>
       
      </ul>
      
    </li>
    <li id="menu-item-7" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1 dropdown
      {% if page.dir contains '/spike-relay/' %} active {% endif %}">
      <a title="Spike Relay" href="/spike-relay/" class="dropdown-toggle">Spike Relay <span class="caret-wrap"><span class="caret"></span></span>
      </a>
	    
	<ul role="menu" class="dropdown-menu">
        <li id="menu-item-71" class="menu-item menu-item-type-post_type menu-item-object-page">
          <a title="Spike Relay Weekly Line Up" href="/spike-relay/weekly/">Spike Relay Weekly Line Up</a>
        </li>
	<li id="menu-item-72" class="menu-item menu-item-type-post_type menu-item-object-page">
          <a title="Spike Relay Clubs" href="/spike-relay/club/">Spike Relay Clubs</a>
        </li>
       <li id="menu-item-72" class="menu-item menu-item-type-post_type menu-item-object-page">
          <a title="Spike Relay Clubs" href="/spike-relay/rules/">Spike Relay Rules</a>
        </li>
      </ul>
	    
	    
    </li>
    <li id="menu-item-9" class="menu-item menu-item-type-custom menu-item-object-custom
      {% if page.path contains 'events' %} active {% endif %}">
      <a title="Events" href="/category/events">Events</a>
    </li>
    <li id="menu-item-10"class="menu-item menu-item-type-custom menu-item-object-custom
      {% if page.path contains 'posts' %} active {% endif %}">
      <a title="Experience" href="/category/posts">Blog</a>
    </li>
    <li id="menu-item-11" class="menu-item menu-item-type-custom menu-item-object-custom
      {% if page.url contains '/stories' %} active {% endif %}">
      <a title="Stories" href="/stories">150 Stories</a>
    </li>
   <!-- <li id="menu-item-12" class="menu-item menu-item-type-custom menu-item-object-custom
      {% if page.path contains 'my-stories' %} active {% endif %}">
      <a title="My Stories" href="/my-stories">My Stories</a>
    </li>
-->
 	<li id="menu-item-12" class="menu-item menu-item-type-custom menu-item-object-custom
      {% if page.path contains 'press' %} active {% endif %}">
      <a title="My Stories" href="/press">Press</a>
    </li>
	<li id="menu-item-13" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1 dropdown
       {% if page.dir contains '//donate//' %} active {% endif %}
       {% if page.dir contains '/spike-150-ambassadors/' %} active {% endif %}
       {% if page.dir contains '/spike-150-clubs/' %} active {% endif %}
       ">
      <a title="Donate" href="/donate/">Donate</a>
	  
		
	<ul role="menu" class="dropdown-menu">
        <li id="menu-item-61" class="menu-item menu-item-type-post_type menu-item-object-page">
          <a title="MOCA Spike 150 Ambassadors" href="/spike-150-ambassadors/">MOCA Spike 150 Ambassadors</a>
        </li>
	 <li id="menu-item-61" class="menu-item menu-item-type-post_type menu-item-object-page">
          <a title="MOCA Spike 150 Ambassadors" href="/spike-150-clubs/">MOCA Spike 150 Clubs</a>
        </li>  
	       
       
      </ul>
	  
	  </li>
  </ul>
</div>
