<section class="hestia-about " id="about" data-sorder="hestia_about" style="">
								<div class="container">
					<div class="row hestia-about-content">
						<p>In 2019, MOCA celebrates the 150th anniversary of the historic moment when a golden spike was driven into the ground at Promontory Summit, Utah to mark the completion of the Transcontinental Railroad. To honor the thousands of Chinese railroad workers whose contributions have largely gone unnoticed, MOCA is launching a year-long initiative to commemorate and tell the history of Chinese people in the United States over the past 150 years. “<strong>MOCA Spike 150 – Running Forward With Our Stories</strong>” will rally <strong>1500+</strong> runners across the country to collectively run <strong>15,000</strong> miles, telling <strong>150</strong> stories and organizing <strong>15</strong> special events in the process. </p>
<p>The event will culminate in in the TCS NYC Marathon on November 3, 2019. MOCA welcomes you to join us in this unprecedented initiative, and welcomes runners to follow in the footsteps of this country’s first pioneers and make history.</p>
<div class="hometabs">
<p><a href="moca-spike-150"><button type="button" class="quicklink">About Spike 150</button></a><a href="how-to-participate"><button type="button" class="quicklink">Participate</button></a><a href="spike-relay"><button type="button" class="quicklink">Virtual Relay</button></a><a href="support"><button type="button" class="quicklink">Support</button></a><a href="faqs"><button type="button" class="quicklink">FAQs</button></a></p>
</div>
					</div>
				</div>
			</section>
