<style>
.tabs {
     text-align: right;
     margin-bottom: 10px;
}
.tab{
     padding:5px 20px;
       border-radius: 15px;
     margin-right:5px;
}
.tab_on {
  background:#75BAE0;
  color:#fff;
}
.tab_off {
 
  
}

.hometabs {
     text-align: left;
     margin: 20px 10px 10px 0;
}
.hometab{
     padding:10px 20px;
       border-radius: 15px;
     margin-right:10px;
}
.hometab_button {
  background:#75BAE0;
  color:#fff;
}
.hometab_button a{

  color:#fff;
}
</style>

<section class="hestia-about " id="about" data-sorder="hestia_about" style="">
  <div class="container">
    <div class="row hestia-about-content">
						<p>At the Museum of Chinese in America (MOCA), a national cultural institution that tells the untold stories in the making of America through the lens of the Chinese immigrant experience, visitors are greeted with the Chinese proverb: “<em>A journey of a thousand miles begins with a single step.</em>” It is our way of honoring the pioneering spirit of not only Chinese immigrants but all immigrants who sacrificed and dared to take the first step that blazed a path for future generations in America.</p>
<p>In 2019, MOCA celebrates the 150th anniversary of the historic moment when a golden spike was driven into the ground at Promontory Summit in Utah to mark the completion of the Transcontinental Railroad. To commemorate this milestone, MOCA has launched the <strong>MOCA Spike 150 initiative</strong> to honor the resilience, grit, and ingenuity symbolized by the thousands of laborers — many of whom were of Chinese ancestry — who toiled and gave their lives to build America into the country it is today. This nine-month journey will allow MOCA to tell 150 untold stories in the making of America as participants of MOCA Spike 150 run across the country culminating in the TCS NYC Marathon on November 3, 2019. MOCA welcomes you to join us in this unprecedented initiative, and welcomes runners to follow in the footsteps of this country’s first pioneers and make history.</p>
<div class="hometabs">
<span class="hometab hometab_button"><a href="about-moca">About MOCA</a></span><span class="hometab hometab_button"><a href="how-to-participate">How to Participate</a></span><span class="hometab hometab_button"><a href="spike-relay">Virtual Spike Relay</a></span><span class="hometab hometab_button"><a href="https://www.crowdrise.com/o/en/campaign/moca-spike-150">Support</a></span><span class="hometab hometab_button"><a href="faqs">FAQs</a></span>
</div>
					</div>
				</div>
			</section>
