<div id="carousel-hestia-generic" class="carousel slide" data-ride="carousel" >
  <div class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="item active">
       {% if page.header %}
	<div class="page-header">
	  <div class="container">
	    <div class="row hestia-big-title-content">
	      <div class="big-title-slider-content text-center col-sm-8 col-sm-offset-2 ">
       	      </div>
            </div>
	  </div>
	  {% if page.header.hero %}
	  <div class="header-filter" style="background-image: url({{ page.header.hero }})"></div>
          {% endif %}
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</div>
