<div id="carousel-hestia-generic" class="carousel slide" data-ride="carousel">
  <div class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="item active">
        <div class="page-header" style="min-height: 710.1px;">
          {% if page.title %}
          <div class="container" style="padding-top: 175px;">
            <div class="row hestia-big-title-content">
              <div class="big-title-slider-content text-center col-sm-8 col-sm-offset-2">
                <h1>{{ page.title }}</h1>
                {% if page.subtitle %}
                <h6>{{ page.subtitle }}</h6>
                {% endif %}
                 <div class="buttons">
                <a href="/events/2019-04-06-moca-chinatown-7m-run" title="MOCA Spike 150 Launch Event" class="btn btn-primary">MOCA Spike 150 Launch Event</a>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
          {% if page.image %}
          <div class="header-filter" style="background-image: url({{ page.image }})"></div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
