<section class="hestia-ribbon section section-image" id="ribbon" data-sorder="hestia_ribbon"
	style="background-image: url( /wp/uploads/2019/03/53847001-1490b300-3f7d-11e9-99e4-85fb367e004a.jpg);">
	<div class="container">
		<div class="row hestia-xs-text-center hestia-like-table hestia-ribbon-content">
			<div class="col-md-8 hestia-ribbon-content-left">
				<h2 class="hestia-title" style="margin:0;">
					Questions? </h2>
			</div>
			<div class="col-md-4 text-center hestia-ribbon-content-right">
				<a href="/contactus" class="btn btn-md btn-primary hestia-subscribe-button">Contact Us</a> </div>
		</div>
	</div>
</section>
