<div class="contact">
    <div class="column">
      <form method="POST" action="https://formspree.io/{{site.contact_email}}">
        <label for="fname">Your Name</label>
        <input type="text" id="fname" name="firstname" placeholder="Your name.."  class="form-control"  required="" oninvalid="this.setCustomValidity('Enter your name')" onchange="this.setCustomValidity('')" value="">
        <label for="email">Your Email</label>
        <input type="email"  id="email" name="email" placeholder="Your email.." class="form-control" placeholder="" required="" oninvalid="this.setCustomValidity('Enter valid email')" onchange="this.setCustomValidity('')" value="">
	      <label for="subject">Subject</label>
        <textarea id="subject" name="subject" placeholder="" style="height:170px"></textarea>
	      
	      <input type="text" id="pirate-forms-contact-name" name="pirate-forms-contact-name" class="form-control" placeholder="" required="" oninvalid="this.setCustomValidity('Enter your name')" onchange="this.setCustomValidity('')" value="">
		
        <input type="submit" value="Submit">
      </form>
    </div>
</div>


	
	

