<div class="contact">
    <div class="column">
      <form method="POST" action="https://formspree.io/{{site.contact_email}}">
        <label for="fname">First Name</label>
        <input type="text" id="fname" name="firstname" placeholder="Your name..">
        <label for="lname">Last Name</label>
        <input type="text" id="lname" name="lastname" placeholder="Your last name..">
        <label for="email">Your Email</label>
        <input type="email" id="email" name="email" placeholder="Your email.."
        <label for="subject">Subject</label>
        <textarea id="subject" name="subject" placeholder="" style="height:170px"></textarea>
        <input type="submit" value="Submit">
      </form>
    </div>
</div>

<div class="card card-contact">
																		<div class="content">
										

<div class="pirate_forms_wrap">
	
	<form method="post">
	<div class="pirate-forms-fields-container">
		<div class="pirate_forms_three_inputs_wrap">
			<div class="col-xs-12 col-sm-6 contact_name_wrap pirate_forms_three_inputs form_field_wrap">
				<div class="form-group label-floating is-empty">
					<label for="pirate-forms-contact-name" class="control-label">Your Name</label>
					<input type="text" id="pirate-forms-contact-name" name="pirate-forms-contact-name" class="form-control" placeholder="" required="" oninvalid="this.setCustomValidity('Enter your name')" onchange="this.setCustomValidity('')" value="">
				</div>
			</div>
			
			<div class="pirate-forms-footer"><div class="col-xs-12 form_field_wrap contact_submit_wrap"><button type="submit" id="pirate-forms-contact-submit" name="pirate-forms-contact-submit" class="pirate-forms-submit-button btn btn-primary" placeholder="">Send Message</button></div></div></div>
	
		</form>	<div class="pirate_forms_clearfix"></div>
</div>

									</div>
								</div>
