<section class="hestia-blogs " id="blog" data-sorder="hestia_blog">
						<div class="container">
									<div class="row">
						<div class="col-md-8 col-md-offset-2 text-center hestia-blogs-title-area">
													</div>
					</div>
									<div class="hestia-blog-content">
				<div class="row">			<article class="col-xs-12 col-ms-10 col-ms-offset-1 col-sm-8 col-sm-offset-2 col-md-4 hestia-blog-item">
				<div class="card card-plain card-blog">
												<div class="card-image">
								<a href="/events/2019-03-26-new-jersey-marathon-training-run" title="New Jersey Marathon Training Run">
									<img width="360" height="240" src="/wp/uploads/2019/03/njMtraining-map-360x240.png" class="attachment-hestia-blog size-hestia-blog wp-post-image" alt="">								</a>
							</div>
											<div class="content">
						<h6 class="category"><a href="/category/events" title="View all posts in Events" rel="tag">Events</a> </h6>
						<h4 class="card-title entry-title">
							<a class="blog-item-title-link" href="/events/2019-03-26-new-jersey-marathon-training-run" title="New Jersey Marathon Training Run" rel="bookmark">
								New Jersey Marathon Training Run</a>
						</h4>
						<div class="card-description">
						<div class="desc-text">
							Date Time: 3/30/2019 7:00/8:00AM Meet up: The Corner Cafe and Bistro 10 Centennial Dr. Long Branch, NJ 07740 由新马官兔负责人Otto和他的团队免费提供连续5周的训练非常成功和热闹，参加者受益良多。接下来还有兩个周末的训练，本周末安排在周六3/30，欢迎大家继续参加！ 本周的训练之后，东奔西跑群还特别为大家安排了在附近的Franklin Lake Park的跑后野餐会，并提供食物和饮</div>
									
            <a class="moretag" href="/events/2019-03-26-new-jersey-marathon-training-run"> Read more…</a></div>
					</div>
				</div>
				</article>
							<article class="col-xs-12 col-ms-10 col-ms-offset-1 col-sm-8 col-sm-offset-2 col-md-4 hestia-blog-item">
				<div class="card card-plain card-blog">
												<div class="card-image">
								<a href="/events/2019-03-26-call-for-submission" title="MOCA征文：书写你的故事">
									<img width="360" height="240" src="/wp/uploads/2019/03/transcontinental-railroad-golden-spike-ceremony-war-is-hell-store-1-360x240.jpg" class="attachment-hestia-blog size-hestia-blog wp-post-image" alt=""></a>
							</div>
											<div class="content">
						<h6 class="category"><a href="/events/2019-03-26-call-for-submission" title="View all posts in Events" rel="tag">Events</a> </h6>
						<h4 class="card-title entry-title">
							<a class="blog-item-title-link" href="/events/2019-03-26-call-for-submission" title="MOCA征文：书写你的故事" rel="bookmark">
								MOCA征文：书写你的故事</a>
						</h4>
						<div class="card-description">
						<div class="desc-text">今年，2019年，是美国跨洲铁路东西向连结完工的150周年。当年那些远渡重洋的华人们，为建设这条铁路所做出了巨大贡献。 那一批华工的到来，是华人大规模移民美国的开始。150年，是一个半世纪。沧海桑田，世界发生了很大的变化。而美国华人的数目、地位、生活方式等，也和当年不可同日而语。</div>
            <a class="moretag" href="/events/2019-03-26-call-for-submission"> Read more…</a></div>
					</div>
				</div>
				</article>
							<article class="col-xs-12 col-ms-10 col-ms-offset-1 col-sm-8 col-sm-offset-2 col-md-4 hestia-blog-item">
				<div class="card card-plain card-blog">
												<div class="card-image">
								<a href="/experience/2019-03-25-用spike-150-为波马热身" title="用Spike 150 为波马热身">
									<img width="360" height="240" src="/wp/uploads/2019/03/Rachel.jpg" class="attachment-hestia-blog size-hestia-blog wp-post-image" alt="">								</a>
							</div>
											<div class="content">
						<h6 class="category"><a href="/category/experience" title="View all posts in Experience" rel="tag">Experience</a> </h6>
						<h4 class="card-title entry-title">
							<a class="blog-item-title-link" href="/experience/2019-03-25-ambassador-rachel-lu" title="用Spike 150 为波马热身" rel="bookmark">
								用Spike 150 为波马热身							</a>
						</h4>
						<div class="card-description">
						<div class="desc-text">点赞一下也算数据。几年前，一次吃饭，见邻桌一青中年帅哥面熟，是那种年轻时认识后来很多年没见过的脸，电光火石间，想起来是华裔网球名将张德培，那当然我要问好，开始他还拘谨，几句后，差点把他热泪说出，他老婆感动地热情地把我们拖到歺厅外帮我们合影，我说的是”不在乎多少大满贯，你张德培横空出现，是一个强大</div>
            <a class="moretag" href="/experience/2019-03-25-ambassador-rachel-lu"> Read more…</a></div>
					</div>
				</div>
				</article>
				</div><!-- /.row --><div class="row">			<article class="col-xs-12 col-ms-10 col-ms-offset-1 col-sm-8 col-sm-offset-2 col-md-4 hestia-blog-item">
				<div class="card card-plain card-blog">
												<div class="card-image">
								<a href="/experience/2019-03-25-moca-spike-150-interview" title="MOCA Spike 150 二月拍摄花絮">
									<img width="360" height="240" src="/wp/uploads/2019/03/museum-1-360x240.jpg" class="attachment-hestia-blog size-hestia-blog wp-post-image" alt="">								</a>
							</div>
											<div class="content">
						<h6 class="category"><a href="/category/experience" title="View all posts in Experience" rel="tag">Experience</a> </h6>
						<h4 class="card-title entry-title">
							<a class="blog-item-title-link" href="/experience/2019-03-25-moca-spike-150-interview" title="MOCA Spike 150 二月拍摄花絮" rel="bookmark">
								MOCA Spike 150 二月拍摄花絮							</a>
						</h4>
						<div class="card-description">
						<div class="desc-text">今年的奥斯卡金像奖，华裔摄影师金国威（Jimmy Chin）与妻子Elizabeth Chai Vasarhelyi共同执导的《自由攀登（Free Solo）》摘得最佳纪录片奖；华裔女导演石之予制作的动画短片《包宝宝（Bao）》获得最佳动画短片奖，这是多么令华人及华人电影界振奋的消息啊！大胆设想一下，不久的将来，又有一部由华裔指导的纪录片</div>
            <a class="moretag" href="/experience/2019-03-25-moca-spike-150-interview"> Read more…</a></div>
					</div>
				</div>
				</article>
							<article class="col-xs-12 col-ms-10 col-ms-offset-1 col-sm-8 col-sm-offset-2 col-md-4 hestia-blog-item">
				<div class="card card-plain card-blog">
												<div class="card-image">
								<a href="/experience/2019-03-12-moca-goes-global" title="MOCA Goes Global!">
									<img width="360" height="240" src="/wp/uploads/2019/03/Johnson_Shen-360x240.jpg" class="attachment-hestia-blog size-hestia-blog wp-post-image" alt="">								</a>
							</div>
											<div class="content">
						<h6 class="category"><a href="/category/experience" title="View all posts in Experience" rel="tag">Experience</a> </h6>
						<h4 class="card-title entry-title">
							<a class="blog-item-title-link" href="/experience/2019-03-12-moca-goes-global" title="MOCA Goes Global!" rel="bookmark">
								MOCA Goes Global!							</a>
						</h4>
						<div class="card-description">
						<div class="desc-text">MOCA goes global! In support of our newest initiative – MOCA Spike 150, our friend Johnson Shen climbed to the summit of Mount Aconcagua in Argentina (the highest mountain outside of Asia!) in</div>
							<a class="moretag" href="/experience/2019-03-12-moca-goes-global"> Read more…</a></div>
					</div>
				</div>
				</article>
							<article class="col-xs-12 col-ms-10 col-ms-offset-1 col-sm-8 col-sm-offset-2 col-md-4 hestia-blog-item">
				<div class="card card-plain card-blog">
												<div class="card-image">
								<a href="/experience/2019-02-10-MOCA-Spike-150-Year-of-the-pig-run-report" title="MOCA Spike 150 Year: A Run for the Pig!">
									<img width="360" height="240" src="/wp/uploads/2019/03/52622258-5f844280-2e77-11e9-9500-0a59f13280d5-360x240.jpeg" class="attachment-hestia-blog size-hestia-blog wp-post-image" alt=""></a>
							</div>
											<div class="content">
						<h6 class="category"><a href="/category/experience" title="View all posts in Experience" rel="tag">Experience</a> </h6>
						<h4 class="card-title entry-title">
							<a class="blog-item-title-link" href="/experience/2019-02-10-MOCA-Spike-150-Year-of-the-pig-run-report" title="MOCA Spike 150 Year: A Run for the Pig!" rel="bookmark">
								MOCA Spike 150 Year: A Run for the Pig!	</a>
						</h4>
						<div class="card-description">
						<div class="desc-text">What a way to ring in the Year of Pig 🐷 with an epic half marathon (plus some) in downtown Manhattan on a chilling Feb morning! Nearly 100 runners from multiple Chinese running</div><a class="moretag" href="/experience/2019-02-10-MOCA-Spike-150-Year-of-the-pig-run-report"> Read more…</a></div>
					</div>
				</div>
				</article>
				</div><!-- /.row --><div class="row">			<article class="col-xs-12 col-ms-10 col-ms-offset-1 col-sm-8 col-sm-offset-2 col-md-4 hestia-blog-item">
				<div class="card card-plain card-blog">
												<div class="card-image">
								<a href="/experience/2019-02-10-MOCA-Spike-150-野豬迎春記" title="MOCA Spike 150 野豬迎春跑后記">
									<img width="360" height="240" src="/wp/uploads/2019/02/52625399-e983d980-2e7e-11e9-92f0-6c3ca3c1181a.jpg" class="attachment-hestia-blog size-hestia-blog wp-post-image" alt="">								</a>
							</div>
											<div class="content">
						<h6 class="category"><a href="/category/experience" title="View all posts in Experience" rel="tag">Experience</a> </h6>
						<h4 class="card-title entry-title">
							<a class="blog-item-title-link" href="/experience/2019-02-10-MOCA-Spike-150-pig-run-cn" title="MOCA Spike 150 野豬迎春跑后記" rel="bookmark">
								MOCA Spike 150 野豬迎春跑后記</a>
						</h4>
						<div class="card-description">
						<div class="desc-text">今年很荣幸的被纽约华人博物馆(Museum of Chinese in America简称MOCA)相中，担任MOCA TCS New York City Marathon Charity Team Co-Captain工作。2019年适逢美国跨洲铁路transcontinental railroad东西向连结完工150周年。 150年前，这条开天辟地的铁路奠定美国跨洲交通基础。铁路一大部分的工程是华工在极恶劣的工作环境下牺牲了不少生命胼手胝足完成</div>
            <a class="moretag" href="/experience/2019-02-10-MOCA-Spike-150-pig-run-cn"> Read more…</a></div>
					</div>
				</div>
				</article>
							<article class="col-xs-12 col-ms-10 col-ms-offset-1 col-sm-8 col-sm-offset-2 col-md-4 hestia-blog-item">
				<div class="card card-plain card-blog">
												<div class="card-image">
								<a href="/events/2019-02-10-year-of-the-pig-run" title="Year of the Pig Run">
									<img width="360" height="240" src="/wp/uploads/2019/03/pig_run-360x240.jpg" class="attachment-hestia-blog size-hestia-blog wp-post-image" alt="">								</a>
							</div>
											<div class="content">
						<h6 class="category"><a href="/category/events" title="View all posts in Events" rel="tag">Events</a> </h6>
						<h4 class="card-title entry-title">
							<a class="blog-item-title-link" href="/events/2019-02-10-year-of-the-pig-run" title="Year of the Pig Run" rel="bookmark">
								Year of the Pig Run							</a>
						</h4>
						<div class="card-description">
						<div class="desc-text">Date Time: 2/10/2019 8:30am Meet up: 23rd St and Broadway – SW corner of Madison Square Park MOCA Spike 150 kicked off with a pig run, a half marathon course around lower Manhattan in the</div>
            <a class="moretag" href="/events/2019-02-10-year-of-the-pig-run"> Read more…</a></div>
					</div>
				</div>
				</article>
				</div>				</div>
							</div>
					</section>
