{% if site.posts.size > 0 %}
<div class="container">
<section class="hestia-blogs " id="blog" data-sorder="hestia_blog">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center hestia-blogs-title-area">
			</div>
		</div>
		<div class="hestia-blog-content">

			<div class="row">
        {% for item in site.posts %}
          {% if item.categories contains 'event' %}
            {% include news_card.html %}
          {% endif %}
        {% endfor %}
			</div><!-- /.row -->
		</div>
	</div>
</section>
</div>
{% endif %}
