<div class="footer-col one-half">
  <h2 class="footer-heading">{{ site.tagline | escape }}</h2>
  <ul class="contact-list">
    <li class="p-name">
      {%- if site.author -%}
        {{ site.author | escape }}
      {%- else -%}
        {{ site.title | escape }}
      {%- endif -%}
    </li>

    For more information contact us at
    {%- if site.email -%}
      <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
    {%- endif -%}

    {%- if site.address -%}
      <li>{{ site.address }}</li>
    {%- endif -%}
  </ul>
      {%- include social-png.html -%}
</div>
