<style>
  .p-name{
    font-family: verlag-bold;
  }
  .footer-box {
     float: left;
     padding-right: 10px;
  }
  .companyname {
    font-family: verlag-bold;
  }
</style>
<div class="footer-col one-half">
  <h2 class="footer-heading">{{ site.tagline | escape }}</h2>
  <ul class="contact-list">
    <li class="p-name">
      {%- if site.author -%}
        {{ site.author | escape }}
      {%- else -%}
        {{ site.title | escape }}
      {%- endif -%}
    </li>

  
  </ul>
  
  <div class="footer-box" >
   <a herf="https://www.mocanyc.org"><img src="https://user-images.githubusercontent.com/46349226/53992814-c81fb180-40fb-11e9-82af-4f690eb1d966.jpg" width="70"></a>
</div>
<div class="footer-box">
   {%- if site.company_name -%}
  <div class="companyname">{{ site.company_name }}</div>
    {%- endif -%}
   {%- if site.address -%}
      {{ site.address }}
    {%- endif -%}
</div>
 
  <div class="contact_us_link"><a href="/contact-us/">Contact Us</a></div>
</div>
