<style>
  p-name{
    font-family: verlag-bold;
  }
</style>
<div class="footer-col one-half">
  <h2 class="footer-heading">{{ site.tagline | escape }}</h2>
  <ul class="contact-list">
    <li class="p-name">
      {%- if site.author -%}
        {{ site.author | escape }}
      {%- else -%}
        {{ site.title | escape }}
      {%- endif -%}
    </li>

    <li><a href="/contact-us/">Contact Us</a></li>
  </ul>
  
  <div style="float: left;" >
   <img src="https://user-images.githubusercontent.com/46349226/53992814-c81fb180-40fb-11e9-82af-4f690eb1d966.jpg" width="70">
</div>
<div style="float: left;" >
   {%- if site.address -%}
      {{ site.address }}
    {%- endif -%}
</div>
 
  
  

      {%- include social-png.html -%}
</div>
