<form action="https://www.crowdrise.com/fundraise-and-volunteer/sponsor/moca-spike-150/mocanyc" method="post" accept-charset="utf-8" id="sponsor_project_form" name="sponsor_project_form" page_type="foundation" data-inline-validation="" novalidate="true">




<div class="donate-wrapper ">
	<div class="row form-container">
		<div class="column medium-9 large-7 small-centered donate-step1">
                        <div class="row text-center profile-details">
				<div class="column">
					<div class="error" id="sponsor_project_message"></div>
					                        <img class="profile" src="https://uploads.crowdrise.com/1548997200/a2a6e87848bbe7939d65a50ebb1968cc.jpg?d=195x195" alt="">
                                                                                        	<h1 id="donationCauseTitle">MOCA Spike 150 - Running Forward With Our Stories!</h1>
                                                                                                            <h2 id="donationCauseTitle2">Created By: MUSEUM OF CHINESE IN AMERICA</h2>
                                                                        				</div>
			</div>
            
            <div class="row">
                <div id="donate_error"></div>
            </div>

			<div class="row">
                                <div class="column" data-type="select">
                        <input type="hidden" name="team_select" value="mocanyc">
                </div>
			</div>

			<div class="row">
                <div class="column">
            		<div class="row" id="special_custom_checkout_question"></div>
            	</div>
            </div>

            <section class="no-buttons-donate-amount donate-amount-input hide" id="no-buttons-donate-amount" aria-label="Donation Amount">
                <span class="donation-amount-title">Donation Amount:</span>
                <div class="min-max">USD $10 Min. - $10,000 Max.</div>
				<div class="row">
                    <div class="column donation-input">
                        <div class="no-buttons-donation-input text-center">
                            <div id="sponsor-amount-parent" class="font-count-1">
                                <span id="donate-step-1-currency-symbol" class="donate-step-1-currency-symbol theme-primary-color is-hidden">USD</span>
                                <input type="number" name="no_buttons_sponsor_amount" id="no_buttons_sponsor_amount" class="is-hidden user_sponsor_amount theme-primary-color" value="0" maxlength="9" autocomplete="off" aria-label="Enter Donation Amount USD $10 Min. - $10,000 Max.">
                            </div>
                        </div>
				    	<div class="columns recurring-donate-input recurring-container text-center" style="display: inline-block;">
				    	</div>
                    </div>
                </div>
                            </section>
            <div class="currency-approx-container hide">
                            </div>
            <section class="buttons-donate-amount donate-amount donate-amount-input required js-donate-amount-active" id="donate-amount" aria-label="Donation Amount buttons">
				<div class="row">
					<div class="column">
						<label><h3>Choose a Donation Amount</h3></label>
                                                                        <div class="recurring-donate-buttons recurring-container" style="display: inline-block;"><div class="recurring-donations">
				<fieldset id="recurring-donations-fieldset">
					<legend>Recurring Donations</legend>
						<input type="radio" name="recurring-donate" value="false" id="donateOnce" checked="checked"><label for="donateOnce" aria-label="Make a one-time donation"><span class="theme-primary-bg-color"></span>One-time</label>
						<input type="radio" name="recurring-donate" value="true" id="donateMonthly"><label for="donateMonthly" aria-label="Make donation recur monthly"><span></span>Monthly</label>
		    	</fieldset>
		    </div></div>
					</div>
				</div>
				<ul class="small-block-grid-2 medium-block-grid-5 amount-grid" id="amount-grid">
					                    <li class="default-amounts"><a href="javascript:;" data-donation-value="25" role="button" class="button medium action radius expand theme-primary-bg-color">$25</a></li>
					                    <li class="default-amounts"><a href="javascript:;" data-donation-value="50" role="button" class="button medium action radius expand theme-primary-bg-color">$50</a></li>
					                    <li class="default-amounts"><a href="javascript:;" data-donation-value="100" role="button" class="button medium action radius expand theme-primary-bg-color">$100</a></li>
					                    <li class="default-amounts"><a href="javascript:;" data-donation-value="250" role="button" class="button medium action radius expand theme-primary-bg-color">$250</a></li>
					                    <li class="default-amounts"><a href="javascript:;" data-donation-value="500" role="button" class="button medium action radius expand theme-primary-bg-color">$500</a></li>
																<li class="hide default-recurring"><a href="javascript:;" role="button" data-donation-value="10" class="button medium action recurring radius expand theme-primary-bg-color">$10</a></li>
											<li class="hide default-recurring"><a href="javascript:;" role="button" data-donation-value="19" class="button medium action recurring radius expand theme-primary-bg-color">$19</a></li>
											<li class="hide default-recurring"><a href="javascript:;" role="button" data-donation-value="29" class="button medium action recurring radius expand theme-primary-bg-color">$29</a></li>
											<li class="hide default-recurring"><a href="javascript:;" role="button" data-donation-value="49" class="button medium action recurring radius expand theme-primary-bg-color">$49</a></li>
											<li class="hide default-recurring"><a href="javascript:;" role="button" data-donation-value="99" class="button medium action recurring radius expand theme-primary-bg-color">$99</a></li>
					                    <li><a href="javascript:;" data-donation-value="false" role="button" class="button medium action radius expand other theme-primary-bg-color">OTHER</a></li>
				</ul>
				<div class="row collapse">
				    <div class="columns small-2 medium-1 donation-input">
				    	<span class="prefix white">$</span>
				    </div>
				    <div class="columns small-10 medium-5 large-6 end donation-input">
                        <input value="" id="buttons_user_sponsor_amount" class="user_sponsor_amount prefixed other-input" maxlength="8" type="number" autocomplete="off" placeholder="USD $10 Min. - $10,000 Max." aria-label="Enter Donation Amount USD $10 Minimum - $10,000 Maximum"><div data-input-parent="" id="input_parent_sponsor_amount">
    <input type="hidden" name="sponsor_amount" id="sponsor_amount" required="" value="0" class="combo-field-validation" combo-field-id="has_min_max">
    <input type="hidden" name="has_min_max" value="10|10000" id="has_min_max"><div class="validation" role="alert" aria-atomic="true" id="validation-sponsor_amount"></div></div>

				      </div>
                                    </div>
			</section>
			
						
			
			<div class="row  ">
				<div class="column" data-input-parent="" id="input_parent_display_name">
				    <input type="text" name="display_name" value="MUSEUM OF CHINESE IN AMERICA" class="accountText" id="display_name" autocomplete="on" placeholder="Show this name in the donation scroll" aria-label="Show this name in the donation scroll on the fundraiser page">                <div class="validation" role="alert" aria-atomic="true" id="validation-display_name"></div></div>
			</div>

			<div class="row">
				<div class="column">
					<div class="expanding-wrapper" style="position:relative"><textarea name="comment" id="sp_comment" class="expanding" placeholder="Comment, In Memory, Tribute" aria-label="Comment, In Memory, Tribute" style="box-sizing: border-box; width: 100%; position: absolute; top: 0px; left: 0px; height: 100%; resize: none; overflow: auto;"></textarea><pre class="expanding-clone" style="box-sizing: border-box; width: 100%; display: block; border: 0.989583px solid; visibility: hidden; min-height: 50px; white-space: pre-wrap; line-height: normal; text-decoration: none solid rgba(0, 0, 0, 0.75); font-size: 18px; font-family: &quot;Source Sans Pro&quot;, Calibri, Candara, Segoe, &quot;Segoe UI&quot;, Optima, Arial, sans-serif; overflow-wrap: break-word;"><span></span><br></pre></div>
					<input type="hidden" name="set" value="sponsor_project_team_member" id="sp_set">
				</div>
			</div>
			<section class="donate-checks " aria-label="donation options">
				
				<div class="">
					<label for="visible">
						<input type="checkbox" name="visible" id="visible" value="N">
						Hide Amount</label>
				</div>

				<div class="">
					<label for="format_anon">
						<input type="checkbox" value="anonymous" id="format_anon" name="format_anon">
						Don't Show My Name</label>
					<input type="hidden" value="name" id="format_display" name="format">
				</div>

				<div class="ecard">
									</div>
			</section>

            <div class="static_custom_checkout_questions">
                                
            </div>

            <div id="custom_checkout_questions">
                            </div>

            
            
            			<div class="row">
				<div class="column text-right">
                    <div class="donate-buttons crui">
                                                <button type="submit" class="button primary medium radius right show-for-medium-up donate-submit theme-primary-bg-color" id="donate_submit">
                            Continue                        </button>
                        <div class="button medium radius right hide show-for-medium-up android-button android-pay-checkout-button" id="android-pay-checkout-button-desktop"><span class="google-logo"></span> &nbsp;Donate with Google</div>
                    </div>
			    </div>
			</div>

			<div class="row">
				<div class="column text-center">
					<div class="legal">
                        <span>
                            <br><br>                                                    By clicking Donate, you agree to the CrowdRise <a href="/about/terms" target="_blank">Terms</a>, <a href="/about/privacy" target="_blank">Privacy Policy</a> and <a href="/about/terms#fees" target="_blank">Fees</a>.</span>
					</div>
				</div>
			</div>
		</div>
        <div class="donate-buttons crui">
            <div class="button radius expand hide show-for-small-only android-button android-pay-checkout-button" id="android-pay-checkout-button-mobile"><span class="google-logo"></span> &nbsp;Donate with Google</div>
            <div class="bottom-sticky-button unstuck show-for-small-only"><button type="submit" class="button flat primary donate-submit mobile theme-primary-bg-color" id="donate_submit_mobile" name="donate_submit">
            Continue            </button></div>
        </div>
	</div>
</div>
</form>
