<nav class="navbar navbar-default navbar-fixed-top  navbar-color-on-scroll navbar-transparent hestia_left">
<div class="container">
<div class="navbar-header">
<div class="title-logo-wrapper">
<a class="navbar-brand" href="/" title="MOCA Spike 150">
<img src="/wp/uploads/2019/03/cropped-spike-150-logo-85-1.png" alt="MOCA Spike 150"></a>
</div>
<div class="navbar-toggle-wrapper">
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navigation">
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="sr-only">Toggle Navigation</span>
</button>
</div>
</div>
<div id="main-navigation" class="collapse navbar-collapse"><ul id="menu-primary-menu" class="nav navbar-nav"><li id="menu-item-73" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-8 current_page_item menu-item-73 active"><a title="Home" href="/">Home</a></li>
<li id="menu-item-84" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-84 dropdown"><a title="About" href="/coming/" class="dropdown-toggle">About <span class="caret-wrap"><span class="caret"></span></span></a>
<ul role="menu" class="dropdown-menu">
<li id="menu-item-79" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-79"><a title="MOCA and Spike 150" href="/about-moca/">MOCA and Spike 150</a></li>
<li id="menu-item-95" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-95"><a title="How to Participate" href="/how-to-participate//">How to Participate</a></li>
<li id="menu-item-91" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-91"><a title="FAQs" href="/faqs/">FAQs</a></li>
</ul>
</li>
<li id="menu-item-124" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-124 dropdown"><a title="Spike Relay" href="/coming/" class="dropdown-toggle">Spike Relay <span class="caret-wrap"><span class="caret"></span></span></a>
<ul role="menu" class="dropdown-menu">
	<li id="menu-item-148" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-148"><a title="Current Report" href="/coming/">Current Report</a></li>
	<li id="menu-item-145" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-145"><a title="Running Clubs" href="/coming/">Running Clubs</a></li>
	<li id="menu-item-144" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-144"><a title="Upload Your Mileage" href="/coming/">Upload Your Mileage</a></li>
</ul>
</li>
<li id="menu-item-116" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-116 dropdown"><a title="Support" href="/moca-spike-150-ambassadors/" class="dropdown-toggle">Support <span class="caret-wrap"><span class="caret"></span></span></a>
<ul role="menu" class="dropdown-menu">
	<li id="menu-item-119" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-119"><a title="MOCA Spike 150 Ambassadors" href="/moca-spike-150-ambassadors/">MOCA Spike 150 Ambassadors</a></li>
</ul>
</li>
<li id="menu-item-107" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-107"><a title="Events" href="/coming">Events</a></li>
<li id="menu-item-14" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-14"><a title="Blog" href="/coming/">Blog</a></li>
<li id="menu-item-88" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-88"><a title="Donate" href="/coming/">Donate</a></li>
</ul></div></div>
</nav>
