{% if site.posts.size > 0 %}
<section class="hestia-blogs " id="blog" data-sorder="hestia_blog">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center hestia-blogs-title-area">
			</div>
		</div>
		<div class="hestia-blog-content">

			<div class="row">
        {% for item in site.posts %}
				<article class="col-xs-12 col-ms-10 col-ms-offset-1 col-sm-8 col-sm-offset-2 col-md-4 hestia-blog-item">
					<div class="card card-plain card-blog">
						<div class="card-image">
              <a href="{{ item.url | relative_url }}" title="{{ item.title | escape }}">
                <img width="360" height="240" src="{{ item.image }}"
									class="attachment-hestia-blog size-hestia-blog wp-post-image" alt="" /> </a>
						</div>
						<div class="content">
							<h6 class="category"><a href="/news/" title="View all news in MOCA Spike 150"
									rel="tag">News</a> </h6>
							<h4 class="card-title entry-title">
                <a class="blog-item-title-link" href="{{ item.url | relative_url }}" title="{{ item.title | escape }}"
									rel="bookmark">
                  {{ item.title | escape }} </a>
							</h4>
              <p class="card-description">{{ item.excerpt }}<a class="moretag" href="{{ item.url | relative_url }}"> Read more&hellip;</a>
							</p>
						</div>
					</div>
				</article>
        {% endfor %}
				<article class="col-xs-12 col-ms-10 col-ms-offset-1 col-sm-8 col-sm-offset-2 col-md-4 hestia-blog-item">
					<div class="card card-plain card-blog">
						<div class="card-image">
							<a href="/2019/02/13/moca-spike-150-year-a-run-for-the-pig/"
								title="MOCA Spike 150 Year: A Run for the Pig!">
								<img width="360" height="240"
									src="/wp/uploads/2019/03/52622258-5f844280-2e77-11e9-9500-0a59f13280d5-360x240.jpeg"
									class="attachment-hestia-blog size-hestia-blog wp-post-image" alt="" /> </a>
						</div>
						<div class="content">
							<h6 class="category"><a href="/category/moca-spike-150-event/"
									title="View all posts in MOCA Spike 150 Event" rel="tag">MOCA Spike 150 Event</a> </h6>
							<h4 class="card-title entry-title">
								<a class="blog-item-title-link" href="/2019/02/13/moca-spike-150-year-a-run-for-the-pig/"
									title="MOCA Spike 150 Year: A Run for the Pig!" rel="bookmark">
									MOCA Spike 150 Year: A Run for the Pig! </a>
							</h4>
							<p class="card-description">What a way to ring in the Year of Pig 🐷 with an epic half marathon (plus
								some) in downtown Manhattan on a chilling Feb morning! Nearly 100 runners from multiple Chinese running
								clubs around<a class="moretag" href="/2019/02/13/moca-spike-150-year-a-run-for-the-pig/"> Read
									more&hellip;</a></p>
						</div>
					</div>
				</article>
				<article class="col-xs-12 col-ms-10 col-ms-offset-1 col-sm-8 col-sm-offset-2 col-md-4 hestia-blog-item">
					<div class="card card-plain card-blog">
						<div class="card-image">
							<a href="/2019/02/11/moca-spike-150-%e9%87%8e%e8%b1%ac%e8%bf%8e%e6%98%a5%e8%b7%91%e5%90%8e%e8%a8%98/"
								title="MOCA Spike 150 野豬迎春跑后記">
								<img width="360" height="240"
									src="/wp/uploads/2019/02/52625399-e983d980-2e7e-11e9-92f0-6c3ca3c1181a-360x240.jpg"
									class="attachment-hestia-blog size-hestia-blog wp-post-image" alt="" /> </a>
						</div>
						<div class="content">
							<h6 class="category"><a href="/category/moca-spike-150-event/"
									title="View all posts in MOCA Spike 150 Event" rel="tag">MOCA Spike 150 Event</a> </h6>
							<h4 class="card-title entry-title">
								<a class="blog-item-title-link"
									href="/2019/02/11/moca-spike-150-%e9%87%8e%e8%b1%ac%e8%bf%8e%e6%98%a5%e8%b7%91%e5%90%8e%e8%a8%98/"
									title="MOCA Spike 150 野豬迎春跑后記" rel="bookmark">
									MOCA Spike 150 野豬迎春跑后記 </a>
							</h4>
							<p class="card-description">今年很荣幸的被纽约华人博物馆(Museum of Chinese in America简称MOCA)相中，担任MOCA TCS New York City
								Marathon Charity Team Co-Captain工作。2019年适逢美国跨洲铁路transcontinental railroad东西向连结完工150周年。
								150年前，这条开天辟地的铁路奠定美国跨洲交通基础。铁路一大部分的工程是华工在极恶劣的工作环境下牺牲了不少生命胼手胝足完成</p>
						</div>
					</div>
				</article>
			</div><!-- /.row -->
			<div class="row"></div>
		</div>
	</div>
</section>
{% endif %}
