<article class="col-xs-12 col-ms-10 col-ms-offset-1 col-sm-8 col-sm-offset-2 col-md-4 hestia-blog-item">
  <div class="card card-plain card-blog">
    <div class="card-image">
      <a href="{{ item.url | relative_url }}" title="{{ item.title | escape }}">
        <img width="360" height="240" src="{{ item.image }}"
                                      class="attachment-hestia-blog size-hestia-blog wp-post-image" alt="" /> </a>
    </div>
    <div class="content">
      <h6 class="category"><a href="/news/" title="View all news in MOCA Spike 150" rel="tag">News</a> </h6>
							<h4 class="card-title entry-title">
                <a class="blog-item-title-link" href="{{ item.url | relative_url }}" title="{{ item.title | escape }}"
									rel="bookmark">
                  {{ item.title | escape }} </a>
							</h4>
              <p class="card-description">{{ item.excerpt }}<a class="moretag" href="{{ item.url | relative_url }}"> Read more&hellip;</a>
							</p>
  	</div>
	</div>
</article>
