<style>
.post-footnote {
    border-radius: 15px;
    background: #FFF7ED;
    padding: 20px;
    margin: 20px 0;
    color: #361500;
}
</style>
<div class="post-footnote">
 {% if page.path contains '-cn' %}
    <p>
      2019年是美国第一条横贯大陆铁路建成150周年，为了纪念第一批华人来美建设这条铁路所做出的巨大贡献，
      美国华人博物馆(MOCA)将其2019 TCS NYC Marathon的活动命名为 MOCA Spike 150 – Running Forward With Our Stories！
      鼓励大家通过马拉松公益跑，全国线上接力，以及一天一个故事的方式讲述150个华人的历史故事，敬请大家持续关注，
      讲出华人自己的故事，回顾过去，立足现在，展望未来，共同书写美国历史，使之更加充实完整。
    </p>
    <p>
      <a href="https://www.mocaspike150.org" style="color:#FFA10A;">关注MOCA Spike 150活动网站</a><br>
      <a href="https://www.mocaspike150.org/donate" rel="noopener noreferrer" style="color:#FFA10A;">支持MOCA的事业，请给MOCA Spike 150团队捐款</a>
    </p>
  {% else %}
    <p>
    2019 is the 150th anniversary of the completion of the Transcontinental Railroad.  To commemorate the contribution of the Chinese laborer to this monumental railroad, Museum of Chinese in America (MOCA) has designated its 2019 TCS NYC Marathon event as <strong>MOCA Spike 150 – Running Forward With Our Stories！</strong> We encourage everyone to participate through 1) our national relay and 2) a story a day which consists of 150 Chinese American personal stories.  We hope you will continue to follow and support us.  Go tell your story.  Reflect on the past; root in the present and embrace the future.  Let us add to the American history, making it fuller and richer. 
   </p>
    <p>
      <a href="https://www.mocaspike150.org" style="color:#FFA10A;">MOCA Spike 150 website</a><br>
      <a href="https://www.mocaspike150.org/donate" rel="noopener noreferrer" style="color:#FFA10A;">Support MOCA，Donate to MOCA Spike 150 Team</a>
    </p>
  {% endif %}
    <div class="hashtag"><a href="https://www.instagram.com/explore/tags/mocaspike150/">#MOCASpike150</a></div>
  </div>
  
