<div id="carousel" class="carousel slide" data-ride="carousel">
  {% if page.randomslideshow != true %}
  <ol class="carousel-indicators" style="bottom:-30px;">
    {% for slide in page.slides %}
      {% if forloop.first == true %} 
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
      {% else %}
        <li data-target="#carousel" data-slide-to="{{ forloop.index0 }}"></li>
      {% endif %}
    {% endfor %}
  </ol>
  {% endif %}
  <div class="carousel-inner">
    {% for slide in page.slides %}
      {% if forloop.first == true %} 
        <div class="item active">
          {% if slide.url %}
          <a href="{{ slide.url }}"><img width="100%" src="{{ slide.img }}"/></a>
          {% else %}
          <img width="100%" src="{{ slide.img }}"/>
          {% endif %}
        </div>
      {% else %}
      <div class="item">
          {% if slide.url %}
          <a href="{{ slide.url }}"><img width="100%" src="{{ slide.img }}"/></a>
          {% else %}
          <img width="100%" src="{{ slide.img }}"/>
          {% endif %}
      </div>
      {% endif %}
    {% endfor %}
  </div>
  <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
  <span class="icon-prev" style="color:#fff;font-size:58px;" aria-hidden="true"></span>
  <span class="sr-only"">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
  <span class="icon-next" style="color:#fff;font-size:58px;" aria-hidden="true"></span>
  <span class="sr-only">Next</span>
  </a>
</div>
{% if page.randomslideshow == true %}
<script>
// random start
jQuery(document).ready(function() {
  const slide = Math.floor((Math.random() * jQuery('#carousel .item').length));
  jQuery('#carousel').carousel(slide);
})
</script>
{% endif %}
