    
<body class="home page-template-default page page-id-8 custom-background wp-custom-logo tribe-no-js blog-post header-layout-classic-blog">
  {% include header.html %}
    <style>
.observablehq--inspect { display: none; }
     #notebook {    
         background: #FFF7ED;
        padding-top: 180px;
        }
   
</style>
<div id="notebook"></div>
<script type="module">
  // Load the Observable runtime and inspector.
  import {Runtime, Inspector} from "/notebook/notebook-runtime.js";
  // Your notebook, compiled as an ES module.
  import notebook from 'https://api.observablehq.com/d/4d379ee88ea1d728.js';
  // Load the notebook, observing its cells with a default Inspector
  // that simply renders the value of each cell into the provided DOM node.
  Runtime.load(notebook, Inspector.into(document.getElementById('notebook')));
</script>
  {% include main.html %}
  {% include foot-script.html %}
</body>
