<article class="col-xs-12 col-ms-6  col-sm-4  col-md-2 hestia-blog-item">
	<div class="card card-plain card-blog">
		<div class="card-image">
			<a href="https://www.crowdrise.com/o/en/campaign/{{ambassador.team}}/{{ambassador.crowdrise_page}}" title="{{ambassador.firstname}}  {{page.lastname}}"><img width="360" height="240" src="{{ambassador.post-image}}" class="attachment-hestia-blog size-hestia-blog wp-post-image" alt=""></a>
		</div>
		<div class="content">
			<strong>
			<a class="blog-item-title-link" href="https://www.crowdrise.com/o/en/campaign/{{ambassador.team}}/{{ambassador.crowdrise_page}}" title="{{ambassador.firstname}}  {{ambassador.lastname}}" rel="bookmark">{{ambassador.firstname}}  {{ambassador.lastname}}</a>
			</strong>
		</div>
	</div>
</article>

