<style> 
@media only screen and (max-width: 2280px) {
  .ambassador .card-image {
     max-height: 230px;
  }

  @media only screen and (max-width: 991px) {
  .ambassador .card-image {
    max-height: 200px;
  }

   @media only screen and (max-width: 766px) {
  .ambassador .card-image {
    max-height: 280px;
  }
</style>

<div class="row">

{% for ambassador in site.ambassadors %}
  {% if ambassador.type == "club" %}
  
       {% include ambassadors/club-card.html %} 
  {% endif %}
{% endfor %}
 </div>

