<style> 
@media only screen and (max-width: 2280px) {
  .ambassador .card-image {
     max-height: 230px;
  }
}
  @media only screen and (max-width: 991px) {
  .ambassador .card-image {
    max-height: 200px;
  }
}
   @media only screen and (max-width: 766px) {
  .ambassador .card-image {
    max-height: 280px;
  }
}  
  
  
.cta-title {
    text-align: center;
    padding: 5px;
    border: 1px solid #FFA10A;
}
.inline {
    display: inline;
}
     
 .cta .raised {
    font-weight: 700;
    font-size: 20px;
}
  
  .ambassador .content, .card .support {
    font-size: 12pt;
    padding:5px;
}
  
 .single-post-wrap h3, .page-content-wrap h3 {
    font-size: 24px;
}
  
      
</style>

<div class="row">

{% for ambassador in site.ambassadors %}
  {% if ambassador.type == "club" %}
  
       {% include ambassadors/club-card.html %} 
  {% endif %}
{% endfor %}
 </div>

