<style> 
@media only screen and (max-width: 2280px) {
  .ambassador .card-image {
     max-height: 230px;
  }
}
  @media only screen and (max-width: 991px) {
  .ambassador .card-image {
    max-height: 200px;
  }
}
   @media only screen and (max-width: 766px) {
  .ambassador .card-image {
    max-height: 280px;
  }
}  
  
  .ambassador .content {
    padding-top:10px;
    padding-bottom:10px;
}
.donation-title {
    text-align: center;
    padding: 5px;
    vertical-align: middle;
   font-size:24px;
  }
  
.inline {
    display: inline;
}
     
 .cta .raised {
    font-weight: 700;
    font-size: 20px;
}
  
  .ambassador .content, .card .support {
    font-size: 11pt;
    padding:8px;
}
  
 .single-post-wrap h3, .page-content-wrap h3 {
    font-size: 24px;
}
  .ambassador .content a {
    font-size: 20px;
}
      
</style>
 <h5>Speical thanks to the clubs supporting MOCA Spike 150 campaign!</h5>
<div class="row">
 

{% for ambassador in site.ambassadors %}
  {% if ambassador.type == "club" %}
  
       {% include ambassadors/club-card.html %} 
  {% endif %}
{% endfor %}
 </div>

<p><a href="https://www.crowdrise.com/o/en/campaign/moca-spike-150-ambassadors" target="_blank" rel="noopener noreferrer"><button type="button" class="quicklink">Join the Team</button></a></p>
