<style>
  .card-plain .card-image {
    max-height: 127px;
}
  .card  {
     margin-bottom: 10px; 
  }
  .card .content {
   font-weight:bold;
   text-align:center;
    background: #FFA10A;
    font-size: 10pt;

  }
  .card .content a{
   color:#000B43;
  }
</style>

<div class="col-md-12">
                   <h1 class="hestia-title title-in-content ">MOCA Spike 150 Ambassadors </h1>
                
                  
 </div>
{% for ambassador in site.ambassadors %}
       {% include ambassadors/card.html %} 
   {% endfor %}

