<style>

  @media only screen and (max-width: 2280px) {
  .card .card-image {
    max-height: 50px;
  }
}
  
 
    
  @media only screen and (max-width: 991px) {
  .card .card-image {
    max-height: 200px;
  }
}
   @media only screen and (max-width: 766px) {
  .card .card-image {
    max-height: 280px;
  }
 }
   @media only screen and (max-width: 480px) {
  .card .card-image {
    max-height: 350px;
  }
}
  

  
  .card  {
     margin-bottom: 10px; 
  }
  .card .content {
   font-weight:bold;
   text-align:center;
    background: #FFF7ED;
  

  }
  .card .content a{
   color:#000B43;
  }
  
    .card .support {
   font-weight:bold;
   text-align:center;
    background: #FFA10A;
  

  }
  .card .support a {
   color:#fff;
  }
</style>

<div class="col-md-12">
                   <h1 class="hestia-title title-in-content ">MOCA Spike 150 Ambassadors </h1>
                
                  
 </div>
{% for ambassador in site.ambassadors %}
       {% include ambassadors/card.html %} 
   {% endfor %}

