<h5>Be a part of our online fundraising campaign! </h5>
<p>If you are running TCS New York City Marathon this year and would like to run for MOCA, please join MOCA Spike 150 Ambassadors team, if you are running any other marathon and would also like to run for MOCA, please join our MOCA Spike 150 Ambassador teams. You can also make general donation to either team, or support your fellow runners from the team list. <a href="https://www.mocaspike150.org/assets/MOCASpike150CrowdriseInstruction.pdf" target=_blank><b>Download detail step by step instruction how to join the team</b></a></p>
<div class="home " id="page-card">
  <section class="hestia-blogs " id="blog" data-sorder="hestia_blog">
    <div class="container" id="donation">
      <div class="hestia-blog-content">
        <div class="row">
          <article class="col-xs-12 col-ms-12 col-sm-4 col-sm-offset-2 col-md-6 hestia-blog-item">
            <div class="card card-plain card-blog">
              <div class="card-image" style="background: #fff5e9;">
                <a href="https://www.crowdrise.com/o/en/campaign/moca-spike-150" title="TCS New York City Marathon
                Ambassadors" target="_blank" rel="noopener noreferrer">
                  <img width="240" height="240" src="https://user-images.githubusercontent.com/46349226/54471239-30216800-478c-11e9-9a4a-3c1c6458b745.jpg" alt=""/>
                </a>
              </div>
              <div class="content">
                <p class="card-title entry-title">
                <a class="blog-item-title-link" href="https://www.crowdrise.com/o/en/campaign/moca-spike-150" title="TCS New York City Marathon
                Ambassadors" target="_blank" rel="noopener noreferrer">
                  TCS New York City Marathon<br/>Ambassadors
                </a>
                </p>
              </div>
            </div>
          </article>
          <article class="col-xs-12 col-ms-12  col-sm-4 col-sm-offset-2 col-md-6 hestia-blog-item">
            <div class="card card-plain card-blog">
              <div class="card-image" style="background: #fff5e9;">
                <a href="https://www.crowdrise.com/o/en/campaign/moca-spike-150-ambassadors" title="MOCA Spike 150 Ambassadors" target="_blank" rel="noopener noreferrer">
                  <img width="240" height="240" src="https://user-images.githubusercontent.com/46349226/54471307-36641400-478d-11e9-8358-e1448836edec.png" alt=""/>
                </a>
              </div>
              <div class="content">
                <p class="card-title entry-title">
                <a class="blog-item-title-link" href="https://www.crowdrise.com/o/en/campaign/moca-spike-150-ambassadors" title="MOCA Spike 150 Ambassadors" target="_blank" rel="noopener noreferrer">
                  <br/>MOCA Spike 150 Ambassadors
                </a>
                </p>
              </div>
            </div>
          </article>
        </div>
