.moca .address, .moca .tel{
  font-size:11pt;
}
.wrapper.classic-blog .hestia-blogs, .wrapper.no-content .hestia-blogs {
    padding-top: 0px;
}
@media (max-width: 768px){

.navbar .navbar-nav .dropdown .dropdown-menu li a {
    margin: 0;
    padding: 5px 0 15px 30px;
    font-size: 12pt;
}

.navbar .navbar-collapse > .navbar-nav > li.menu-item > a {
    color: #75BAE0;
    font-size: 12pt;
}

}
.navbar .navbar-collapse > .navbar-nav > li.menu-item {
   
    line-height: 25px;
}

@media (max-width: 600px){
	body.admin-bar .navbar.navbar-scroll-point.navbar-fixed-top .navbar-collapse, body.admin-bar .navbar.navbar-scroll-point.header-with-topbar.navbar-fixed-top .navbar-collapse {
    max-height: calc(100% - 70px);
    margin-top: 68px;
	}
	.ambassador .content {
    height: 80px;
	}
}
.image-in-page {
    margin-top: 20px;
}

body, ul, .tooltip-inner {
    font-family: "Verlag-Light";
}

.author {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: larger;
    color: #FFA10A;
}

.blog-post  .imgcaption {
  font-size:smaller;
  font-style: italic;
  background:#FFF7ED;
  padding: 5px 10px;
  margin-bottom: 10px;
}
.blog-post  .imgcard {
  margin-bottom:0;
}


.title .hashtag {
 padding:5px;
}
.title .hashtag a{
  font-weight:normal;
   font-size:smaller;
   color:#75BAE0;
}
.blog .hestia-blogs .card-blog .author {
  display:none;
}
.posted-by {
 display: none;
}
.entry-summary .author {
    color: #000B43;
    font-weight: normal;
    font-size: 12pt;
    margin-bottom: 10px;
}
/*remove the big title block on blog main pages*/
#primary {
   display: none;
}

/*add space because the big title is removed*/
.wrapper.classic-blog .hestia-blogs {
    padding-top: 30px;
}

.carousel .page-header .row {
   
    align-items: flex-end;
  
}

.tabs {
     text-align: right;
     margin-bottom: 10px;
}
.tab{
     padding:5px 20px;
       border-radius: 15px;
     margin-right:5px;
}
.tab_on {
  background:#75BAE0;
  color:#fff;
}
.tab_off {
 
  
}

.hometabs {
     text-align: left;
     margin: 20px 10px 10px 0;
}
.hometab{
     padding:10px 20px;
       border-radius: 15px;
     margin-right:10px;
}
.hometab_button {
  background:#75BAE0;
  color:#fff;
}
.hometab_button a{
   background:#75BAE0;
  color:#fff;
}

.quicklink {
    color: #fff;
    background-color: #75BAE0;
    padding:10px 15px;
     border-radius: 15px;
     margin-right:10px;
     margin-bottom:5px;
     text-transform: none;
}

.infocard{
  
    background-color: #FFF7ED;
    padding:10px 20px;
    margin-bottom:10px;
     border-radius: 35px;
     min-height: 200px;
    box-shadow: 0 8px 6px -6px #eee;
   
}
.infocard-title{
   color:#FFA10A;
   font-weight:bold;
   font-size:larger;
   text-align: center;
   padding:5px;
}
.infocard-desc{
   font-size:11pt;
}

h1.hestia-title{
      margin-bottom: 10px;
}
.card-blog .row .category {
    margin-bottom: 0;
    display: none;
}
.title-block{
    border-radius: 15px;
    background: #FFF7ED;
    padding: 10px 15px;
    margin: 10px 0 5px 0;
    color: #361500;
    display: inline-block;
    font-weight:bold;
}
