---
layout: homepage
title: MOCA Spike 150
subtitle: Running Forward With Our Stories
slides:
  -
    img: https://user-images.githubusercontent.com/46349226/66178557-bcfe1700-e633-11e9-8120-79bb2ea2c542.jpg
    url: https://www.mocaspike150.org/events/2019-10-03-moca-pre-race-festival
  - 
    img: https://user-images.githubusercontent.com/46349226/66076923-d10b2100-e52c-11e9-9248-64f56ea09648.jpg
    url: https://www.mocaspike150.org/posts/2019-10-01-moca-tshirt-sale
  - 
    img: https://user-images.githubusercontent.com/41637129/65340563-825c9f00-db9c-11e9-93b2-ad73f2a7f52f.png
    url: https://vimeo.com/338891721
---
<div class="container">
<div id="relay"></div>

<div id="countdown" style="background:#ffa10a;height;200px;color:#fff; padding:15px;text-align:center;font-size:18px;font-family: verlag-bold;">
</div>

{% include ambassadors/official-group.html %}

</div>

<script type="module">
import {Runtime, Inspector} from "/notebook/notebook-runtime.js";
import relay from 'https://api.observablehq.com/d/42dc3e85b0c28c87.js';
import countdown from 'https://api.observablehq.com/d/235f37e630c0d208.js';

Runtime.load(relay, Inspector.into(document.getElementById('relay')));
Runtime.load(countdown, Inspector.into(document.getElementById('countdown')));

</script>


{% include cards/index.html %}
