---
layout: default
title: MOCA Spike 150
subtitle: Running Forward With Our Stories
post-image: 'https://www.mocaspike150.org/wp/uploads/2019/03/Home_hero.jpg'
image: '/wp/uploads/2019/03/Home_hero.jpg'
---
{% include about.html %}
<section class="hestia-blogs " id="blog" data-sorder="hestia_blog">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center hestia-blogs-title-area">
      </div>
    </div>
    <div class="hestia-blog-content">
      {% include cards/latest_three_stories.html %}
    </div>
  </div>
</section>

