<div class="row">
    <div class="col-md-8">
	    <div class="title-block" style=" border-radius: 15px; background: #FFF7ED; padding: 10px 15px;margin: 10px 0 5px 0;color: #361500; display: inline-block;font-weight: bold;">Contact Info</div>
	</div>
</div>
<div class="row">
    <div class="col-md-8">
	    <div class="wpforms-field-container" style="padding:10px;">
		<div class="wpforms-field wpforms-field-text" data-field-id="5" id="wpforms-1605-field_5-container">
			<label class="wpforms-field-label" for="wpforms-1605-field_5">Contact Name <span class="wpforms-required-label">*</span></label><input class="wpforms-field-medium wpforms-field-required" id="wpforms-1605-field_5" name="wpforms[fields][5]" required="" type="text">
		</div>
		<div class="wpforms-field wpforms-field-email" data-field-id="7" id="wpforms-1605-field_7-container">
			<label class="wpforms-field-label" for="wpforms-1605-field_7">Email <span class="wpforms-required-label">*</span></label><input class="wpforms-field-medium wpforms-field-required" id="wpforms-1605-field_7" name="wpforms[fields][7]" required="" type="email">
		</div>
		<div class="wpforms-field wpforms-field-text" data-field-id="8" id="wpforms-1605-field_8-container">
			<label class="wpforms-field-label" for="wpforms-1605-field_8">Wechat ID (If available)</label><input class="wpforms-field-medium" id="wpforms-1605-field_8" name="wpforms[fields][8]" type="text">
		</div>
	</div>	<!-- form container-->				
	</div>
</div>
