<style>
	.wpforms-field-container{
		padding:10px;
	}
	div.wpforms-container-full .wpforms-form .wpforms-field {
    		margin-bottom: 5px;
	}
</style>
<div class="wpforms-container wpforms-container-full" id="wpforms-1605">
<form 
        id="wpforms-form-236" 
        class="wpforms-validate wpforms-form" 
        data-formid="236" 
        method="post" 
        enctype="multipart/form-data" 
        action="{{ page.api.host }}/{{ page.api.path }}"
        >
		<div class="wpforms-field-container">
			{% include spike-relay-signup/running-club-questions.html %}	
			{% include spike-relay-signup/contact-questions.html %}	
			{% include spike-relay-signup/submit.html %}	
			
		</div>
	</form>
</div>
