<style>
 .title-block {
    border-radius: 15px;
    background: #FFF7ED;
    padding: 10px 15px;
    margin: 10px 0 5px 0;
    color: #361500;
    display: inline-block;
    font-weight: bold;
  }
</style>
<div class="wpforms-container wpforms-container-full" id="wpforms-1605">
<form 
        id="wpforms-form-236" 
        class="wpforms-validate wpforms-form" 
        data-formid="236" 
        method="post" 
        enctype="multipart/form-data" 
        action="{{ page.api.host }}/{{ page.api.path }}"
        >
		<div class="wpforms-field-container">
			{% include spike-relay-signup/running-club-questions.html %}	
			{% include spike-relay-signup/contact-questions.html %}	
			{% include spike-relay-signup/submit.html %}	
			
		</div>
	</form>
</div>
