<div class="row">
    <div class="col-md-12" style="margin-top:30px;">
       <p>
       2019年适逢美国跨洲铁路东西向连结完工150周年。为了纪念华人为建设这条铁路所做出的巨大贡献，美国华人博物馆(MOCA) 隆重推出MOCA Spike 150: Running Forward With Our Stories！这个历时数月的公益活动自新年开始，至11月3日纽约马拉松推向高潮。其中的标志性活动Spike 150 线上接力跑，在5月10日150周年宣布起跑，以跑团为单位，每周接力，连续25周，至纽马终点线结束。期待凝聚全美各地的华人跑团为公益而跑，彰显在美华人的历史及其保存展示的重要性！也希望借着这次的主题活动，推广全国跑友加入MOCA大使行列，共同為美国华人博物馆募款，为保存在美华人历史保存尽一份心力，并改变过去媒体中对华人的刻板形象，用奔跑的脚步讲述属于我们自己的故事！
        </p>
        <p>
       活动网站:  https://www.mocaspike150.org
       线上接力跑說明: https://www.mocaspike150.org/spike-relay-cn/
       任何问题请email: mocaspike150@mocanyc.org
       </p>
       <p>
       请于4月21日前完成报名！
       </p>

  </div>
</div>
