<div class="row">
    <div class="col-md-6">			
	<label class="wpforms-field-label" >Running Club Name<span class="wpforms-required-label">*</span></label>
	<div>		
	<input aria-label="Running Club" autocomplete="off"  data-initial-dir="auto" data-initial-value="" dir="auto" name="running club" required="" tabindex="0" type="text" value="">							
	</div>				
    </div>
</div>
<div class="row">
    <div class="col-md-6">			
	<label class="wpforms-field-label" >Main Meet Up Location (if more than one, please list 2-3)<span class="wpforms-required-label">*</span></label>
	<div>		
	<input aria-label="Meet up" autocomplete="off"  data-initial-dir="auto" data-initial-value="" dir="auto" name="meet up" required="" tabindex="0" type="text" value="">							
	</div>				
    </div>
</div>

