<div class="row">
    <div class="col-md-8">
	    <div class="title">Running Club Info</div>
	</div>
</div>
<div class="row">
    <div class="col-md-8">
	    <div class="container formsection">
		    <div class="row">
    			<div class="col-md-12 ">
		    		<label class="wpforms-field-label" >Running Club Name<span class="wpforms-required-label">*</span></label>
					<div>		
					<input aria-label="Running Club" autocomplete="off"  data-initial-dir="auto" data-initial-value="" dir="auto" name="running_club" required="" tabindex="0" type="text" value="">							
					</div>	
				</div>
			</div>
		    <div class="row">
    			<div class="col-md-12 "> 
					<label class="wpforms-field-label" >Main Meet Up Location (if more than one, please list 2-3)<span class="wpforms-required-label">*</span></label>
					<div>		
					<input aria-label="Meet up" autocomplete="off"  data-initial-dir="auto" data-initial-value="" dir="auto" name="meet_up" required="" tabindex="0" type="text" value="">							
					</div>	
			    </div>
		  </div>  
		

		<div class="row">
    			<div class="col-md-12 "> 		
					<label class="wpforms-field-label" >Running Club Description (one or two paragraphs)<span class="wpforms-required-label">*</span></label>
					<div>		
					<textarea id="wpforms-236-field_2" class="wpforms-field-medium wpforms-field-required form-control" name="club_description"  aria-required="true"></textarea>					
					</div>				
				</div>
		</div>

		<div class="row">
    			<div class="col-md-12 "> 		
					<label class="wpforms-field-label" >Strava Club Link (if plan to use existing strava club to participate)</label>
					<div>		
					<input aria-label="Strava Club" autocomplete="off"  data-initial-dir="auto" data-initial-value="" dir="auto" name="strava_club"  tabindex="0" type="text" value="">							
					</div>					
				</div>
		</div>
		<div class="row">
    			<div class="col-md-12 "> 		
					<label class="wpforms-field-label" >Running Club's website URL (if any)</label>
					<div>		
					<input aria-label="club url" autocomplete="off"  data-initial-dir="auto" data-initial-value="" dir="auto" name="club_url"  tabindex="0" type="text" value="">							
					</div>					
				</div>
		</div>
		   
		    
		   <div class="row">
    			<div class="col-md-12 "> 		
					<label class="wpforms-field-label" >Running Club's size</label>
					<div>	
		    <div>	
		    <select class="wpforms-field-medium" id="wpforms-1605-field_3" name="wpforms[fields][3]">
				<option value="First Choice">
								First Choice
									</option>
									<option selected='selected' value="Second Choice">
										Second Choice
									</option>
									<option value="Third Choice">
										Third Choice
									</option>
								</select>
			    </div>					
				</div>
		</div>

	</div>	<!-- form section-->				
	</div>
</div>
