<div class="row">
    <div class="col-md-8">
	    <span class="title-block" style=" border-radius: 15px; background: #FFF7ED; padding: 10px 15px;margin: 10px 0 5px 0;color: #361500; display: inline-block;font-weight: bold;">Relay Weeks</span>
	</div>
</div>
<div class="row">
    <div class="col-md-8">
	    <div class="wpforms-field-container"  style="padding:10px;">
			<div class="wpforms-field wpforms-field-select" data-field-id="9" id="wpforms-1605-field_9-container">
					<label class="wpforms-field-label" for="wpforms-1605-field_9">First Phase: 5/13 – 7/7 <span class="wpforms-required-label">*</span></label><select aria-required="true" class="wpforms-field-medium wpforms-field-required" id="wpforms-1605-field_9" name="wpforms[fields][9]" required="">
						<option value="Any week ">
							Any week
						</option>
						<option value="Week 1 (5/13-5/19)">
							Week 1 (5/13-5/19)
						</option>
						<option value="Week 2 (5/20 - 5/26)">
							Week 2 (5/20 - 5/26)
						</option>
						<option value="Week 3 (5/27 - 6/2)">
							Week 3 (5/27 - 6/2)
						</option>
						<option value="Week 4 (6/2 - 6/9)">
							Week 4 (6/2 - 6/9)
						</option>
						<option value="Week 5 (6/10 - 6/16)">
							Week 5 (6/10 - 6/16)
						</option>
						<option value="Week 6 (6/17 - 6/23)">
							Week 6 (6/17 - 6/23)
						</option>
						<option value="Week 7 (6/24 - 6/30)">
							Week 7 (6/24 - 6/30)
						</option>
						<option value="Week 8 (7/1 - 7/7)">
							Week 8 (7/1 - 7/7)
						</option>
					</select>
				</div>
				<div class="wpforms-field wpforms-field-select" data-field-id="10" id="wpforms-1605-field_10-container">
					<label class="wpforms-field-label" for="wpforms-1605-field_10">Second Phase 7/8 – 9/1 <span class="wpforms-required-label">*</span></label><select aria-required="true" class="wpforms-field-medium wpforms-field-required" id="wpforms-1605-field_10" name="wpforms[fields][10]" required="">
						<option value="Any week">
							Any week
						</option>
						<option value="Week 9 (7/8 - 7/14)">
							Week 9 (7/8 - 7/14)
						</option>
						<option value="Week 10 (7/15 - 7/21)">
							Week 10 (7/15 - 7/21)
						</option>
						<option value="Week 11 (7/22 - 7/28)">
							Week 11 (7/22 - 7/28)
						</option>
						<option value="Week 12 (7/29 - 8/4)">
							Week 12 (7/29 - 8/4)
						</option>
						<option value="Week 13 (8/5 - 8/11)">
							Week 13 (8/5 - 8/11)
						</option>
						<option value="Week 14 (8/12 - 8/18)">
							Week 14 (8/12 - 8/18)
						</option>
						<option value="Week 15 (8/19 - 8/25)">
							Week 15 (8/19 - 8/25)
						</option>
						<option value="Week 16 (8/26 - 9/1)">
							Week 16 (8/26 - 9/1)
						</option>
					</select>
				</div>
				<div class="wpforms-field wpforms-field-select" data-field-id="11" id="wpforms-1605-field_11-container">
					<label class="wpforms-field-label" for="wpforms-1605-field_11">Third Phase: 9/2 – 10/27 <span class="wpforms-required-label">*</span></label><select aria-required="true" class="wpforms-field-medium wpforms-field-required" id="wpforms-1605-field_11" name="wpforms[fields][11]" required="">
						<option value="Any week">
							Any week
						</option>
						<option value="Week 17 (9/2 - 9/8)">
							Week 17 (9/2 - 9/8)
						</option>
						<option value="Week 18 (9/9 - 9/15)">
							Week 18 (9/9 - 9/15)
						</option>
						<option value="Week 19 (9/16 - 9/22)">
							Week 19 (9/16 - 9/22)
						</option>
						<option value="Week 20 (9/23 - 9/29)">
							Week 20 (9/23 - 9/29)
						</option>
						<option value="Week 21 (9/30 - 10/6)">
							Week 21 (9/30 - 10/6)
						</option>
						<option value="Week 22 (10/7 - 10/13)">
							Week 22 (10/7 - 10/13)
						</option>
						<option value="Week 23 (10/14 - 10/20)">
							Week 23 (10/14 - 10/20)
						</option>
						<option value="Week 24 (10/21 - 10/27)">
							Week 24 (10/21 - 10/27)
						</option>
					</select>
				</div>
	</div>	<!-- form section-->				
	</div>
</div>
