---
layout: homepage
title: MOCA Spike 150
subtitle: Running Forward With Our Stories
---
<div id="relay"></div>
{% include home-video.html %}
<div id="countdown" style="background:#ffa10a;height;200px;color:#fff; padding:15px;text-align:center;font-size:18px;font-family: verlag-bold;">
</div>
<div id="donation"></div>
<script type="module">

import {Runtime, Inspector} from "/notebook/7baba4c0122418cb/runtime.js";
import relay from "https://api.observablehq.com/d/34b1fe62f75b53ef.js?v=3";
import countdown from "https://api.observablehq.com/d/93310915b8e45404.js?v=3";
import donation from "https://api.observablehq.com/d/bc64ae8b270f736c.js?v=3";

const runtime = new Runtime();
runtime.module(relay, Inspector.into(document.getElementById('relay')));
runtime.module(countdown, Inspector.into(document.getElementById('countdown')));
runtime.module(donation, Inspector.into(document.getElementById('donation')));

</script>

{% include about.html %}
{% include cards/index.html %}
