---
layout: homepage
title: MOCA Spike 150
subtitle: Running Forward With Our Stories
---
<div id="notebook"></div>
<div id="counter" style="background:#ffa10a;height=200px;"></div>
<div id="donation"></div>
<script type="module">

import {Runtime, Inspector} from "/notebook/7baba4c0122418cb/runtime.js";
import notebook from "https://api.observablehq.com/d/1a96f7a32d86756d.js?v=3";
import donation from "https://api.observablehq.com/d/4c0dc693a5db17ca.js?v=3";

const runtime = new Runtime();
runtime.module(notebook, Inspector.into(document.getElementById('notebook')));
runtime.module(donation, Inspector.into(document.getElementById('donation')));

</script>

{% include about.html %}
{% include cards/index.html %}
