<div class="main  main-raised " style="margin-top: 70px;">
   <div class="container">
    <article class="section section-text">
	    <div class="row">
	   	   <div class="col-md-8 page-content-wrap  col-md-offset-2">		
              <div class="row">
                <div class="col-md-12">
                   <h1 class="hestia-title title-in-content ">{{ page.title }} </h1>
                  {% if page.post-image %}
                   <img class="wp-post-image image-in-page" src="{{ page.post-image }} " alt="" / {% if page.post-image-caption %}style="margin-bottom:0;"{%endif%}>
                  {% endif %}
		   {% if page.post-image-caption %}
			<div class="post-image-caption">{{ page.post-image-caption }}</div>
                  {% endif %}
                </div>
              </div>
             {%if page.author %} 
	       <div class="author">{{ page.author }}</div>
	     {% endif %}
             {{ content }}
             {% include mocaspike150card.html %}
           </div>
        </div>
    </article>
  </div>
</div>
{% include footer.html %}
{% include social.html %}
