<style>


  .story-nav a:hover {
  background-color: #ffa10a;
  color: #fff;
}

.story-nav .prev {
  background-color: #eee;
  color: #000;
}

.story-nav .next {
  background-color: #eee;
  color: #000;
}


.story-nav .left {
  float:left;
  font-weight:bold;
  text-align:right;}

.story-nav .right {
  float:right;
  font-weight:bold;
  text-align:right;
}
</style>
{% for story in site.stories %}
  {% if story.url == page.url %}

<div class="story-nav">
  <div class="left">
    {% unless forloop.first %}
      {% assign previous = forloop.index0 | minus: 1 %}
      {% assign previous_page = site.stories[previous] %}
      <a href="{{ previous_page.url }}" class="prev" title="{{ previous_page.title }}">&laquo;&laquo; Prev</a>
    {% endunless %}
  </div>
 
  <div class="right">
    {% unless forloop.last %}
      {% assign next = forloop.index0 | plus: 1 %}
      {% assign next_page = site.stories[next] %}
      <a href="{{ next_page.url }}" class="next" title="{{ next_page.title }}">Next &raquo;&raquo;</a>
    {% endunless %}
  </div>
</div>

    {% break %}
  {% endif %}
{% endfor %}
