Special thanks to Flying Fox Chinese Sports Council for prompting MOCA Spike 150’s daily stories among its large community on the east coast.

We also want to thanks staff and interns with this sentence: The 150 stories were made possible with the time contributions of all of the MOCA staff and interns with special thanks to: Hannah Baek, Edward Cheng, Yuli Cheng, Kevin Chu, Lexi Echelman, Han Feng, Kiana Lowe, Mingsi Ma, Yue Ma, Karin Roslund, Miya Tada, Xingya Wang, Neil Wu-Gibbs, and Xinyuan Xu. 
